﻿@{
    ViewBag.Title = "Bijou Bijou Store";
}

<div class="header_slider">
                            <div class="boss_slider">
                                <div class="tp-banner-container">
                                    <div class="tp-banner tp-banner0">
                                        <ul>
                                            <!-- SLIDE  -->
                                            <li data-link="#" data-target="_self" data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="Content/images/slide/anillos.jpg" alt="slidebg1" data-lazyload="Content/images/slide/anillos.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                            </li>
                                            <li data-link="#" data-target="_self" data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="Content/images/dummy.png" alt="slidebg1" data-lazyload="Content/images/slide/collares.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                            </li>
                                            <li data-link="#" data-target="_self" data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="Content/images/dummy.png" alt="slidebg1" data-lazyload="Content/images/slide/pulseras.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                            </li>
                                        </ul>
                                        <div class="slideshow_control"></div>
                                    </div><!-- /.tp-banner -->
                                </div>
                            </div>
                        </div><!-- /.header_slider -->

                        <div class="header_slider">
                            <div class="boss_slider">
                                <div class="tp-banner-container">
                                    <div class="tp-banner tp-banner0">
                                        <ul>
                                            <!-- SLIDE  -->
                                           <li data-link="#" data-target="_self" data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="Content/images/dummy.png" alt="slidebg1" data-lazyload="Content/images/slide/anillos_p.png" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                            </li>
                                            <li data-link="#" data-target="_self" data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="Content/images/dummy.png" alt="slidebg1" data-lazyload="Content/images/slide/collares_p.png" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                            </li>
                                            <li data-link="#" data-target="_self" data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                                <!-- MAIN IMAGE --><img src="Content/images/dummy.png" alt="slidebg2" data-lazyload="Content/images/slide/pulseras_p.png" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-caption medium_white sft ltb rs-parallaxlevel-0" data-x="322" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1000" data-end="4500" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> MORBI VOLUTPAT MASSA </div>
                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-caption very_big_white sft ltb rs-parallaxlevel-0" data-x="200" data-y="158" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1500" data-end="4000" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Pellentesque </div>
                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-caption large_white_text sft stb rs-parallaxlevel-0" data-x="397" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="2000" data-end="3500" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                            </li>
                                        </ul>
                                        <div class="slideshow_control"></div>
                                    </div><!-- /.tp-banner -->
                                </div>
                            </div>
                        </div><!-- /.header_slider -->