﻿@{
    ViewBag.Title = "Bijou Bijou";
    Layout = "~/Areas/TIENDA/Views/Shared/_LayoutTienda.cshtml";
}

<div class="container">
            <div class="row">
                <column id="column-left" class="col-sm-3 hidden-xs">
                </column><!-- /#column-left -->
                <div id="content" class="col-sm-9">
                    <div class="product-filter">
                        
                        <div class="display hidden-xs">
                            <button type="button" id="list-view" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i>
                            </button>
                            <button type="button" id="grid-view" class="btn-grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th-large"></i>
                            </button>
                        </div><!-- /.display -->
                        <div class="limit-sort hidden-xs">
                            <div style="float:left;padding-left:30px">
                                <label class="control-label" for="input-sort">Ordenar por:</label>
                                <label>
                                    <select id="input-sort" class="form-control">
                                        <option value="1" selected="selected">Por Defecto</option>
                                        <option value="2">Nombre (A - Z)</option>
                                        <option value="3">Nombre (Z - A)</option>
                                        <option value="4">Precio (Menor &gt; Mayor)</option>
                                        <option value="5">Precio (Mayor &gt; Menor)</option>
                                    </select>
                                </label>
                            </div>
                            <div style="float:left;padding-left:50px ">
                                <label class="control-label" for="input-limit">Mostrar:</label>
                                <label>
                                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                                        <option value="limit=15" selected="selected">15</option>
                                        <option value="limit=25">25</option>
                                        <option value="limit=50">50</option>
                                        <option value="limit=75">75</option>
                                        <option value="limit=100">100</option>
                                    </select>
                                </label>
                            </div>
                            <div style="clear:both"></div>
                        </div><!-- /.limit-sort -->
                    </div><!-- /.product-filter -->
                    <div class="row">
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p21-270x307.jpg" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Cashmere cuff vintage Levi maxi</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="~/Content/images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et blan..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p5-270x307.jpg" alt="Cashmere Saint Laurent" title="Cashmere Saint Laurent" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Cashmere Saint Laurent</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="~/Content/images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span> <img src="~/Content/images/colors/green-20x20.png" title="Green" alt="Green">
                                        </span> <img src="~/Content/images/colors/orange-20x20.jpg" title="Orange" alt="Orange">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p4-270x307.jpg" alt="Cashmere Saint Laurent" title="Cashmere Saint Laurent" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Cashmere Saint Laurent</a>
                                    </div>
                                    <div class="price"> $2,000.00 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span> <img src="~/Content/images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span> <img src="~/Content/images/colors/gray-20x20.png" title="Yellow" alt="Yellow">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p12-270x307.jpg" alt="Floral gold collar chunky" title="Floral gold collar chunky" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Floral gold collar chunky</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> <span class="price-old">$122.00</span> <span class="price-new">$98.00</span> </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="~/Content/images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p11-270x307.jpg" alt="Jil Sander Vasari white shirt" title="Jil Sander Vasari white shirt" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Jil Sander Vasari white shirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p17-270x307.jpg" alt="Leggings midi sneaker cable knit" title="Leggings midi sneaker cable knit" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Leggings midi sneaker cable knit</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p13-270x307.jpg" alt="Metallic indigo cuff seam bandeau" title="Metallic indigo cuff seam bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Metallic indigo cuff seam bandeau</a>
                                    </div>
                                    <div class="price"> $602.00 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="~/Content/images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p14-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Minimal black ribbed bandeau</a>
                                    </div>
                                    <div class="price"> $123.20 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p19-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Minimal black ribbed bandeau</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span> <img src="~/Content/images/colors/green-20x20.png" title="Green" alt="Green">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p9-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Minimal black ribbed bandeau</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p22-270x307.jpg" alt="Navy blue center part leather" title="Navy blue center part leather" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Navy blue center part leather</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $1,202.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p3-270x307.jpg" alt="Oversized sweatshirt" title="Oversized sweatshirt" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Oversized sweatshirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="~/Content/images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span> <img src="~/Content/images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p15-270x307.jpg" alt="Prada Saffiano cashmere crop" title="Prada Saffiano cashmere crop" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Prada Saffiano cashmere crop</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p8-270x307.jpg" alt="Ribbed boots holographic Céline" title="Ribbed boots holographic Céline" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Ribbed boots holographic Céline</a>
                                    </div>
                                    <div class="price"> $337.99 </div>
                                    <div class="b_filter"> <img src="~/Content/images/colors/white-20x20.jpg" title="White" alt="White">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p7-270x307.jpg" alt="Ribbed boots holographic Céline" title="Ribbed boots holographic Céline" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="~/TIENDA/Producto">Ribbed boots holographic Céline</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $98.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                    </div><!-- /.row -->
                    <div class="result-pagination">
                        <div class="results pull-left">Showing 1 to 15 of 19 (2 Pages)</div>
                        <div class="links">
                            <ul class="pagination">
                                <li class="active"><span>1</span>
                                </li>
                                <li><a href="page=2">2</a>
                                </li>
                                <li><a href="page=2">&gt;</a>
                                </li>
                                <li><a href="page=2">&gt;|</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.result-pagination -->
                </div><!-- /#content -->
                <div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
            </div><!-- /.row -->
        </div>
