﻿@using Resources;
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>@ViewBag.Title</title>
        <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

	<!-- ================= Google Fonts ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css" />

        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- ================= Google Fonts ================== -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/menu_default.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_megamenu.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.jgrowl.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_alphabet.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_facecomments.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/loading.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/cs.animate.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_special.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_filterproduct.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/isotope.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/bossblog.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/revolutionslider_settings.css" media="screen" />

    </head>

    <body class="bt-home-page" style="background-color:#ccfff5">
   

    <div id="bt_container" class="bt-wide">
        <div id="bt_header">
            <nav id="top">
                <div class="container">
                    <div class="row">
                        <div id="right_top_links" class="nav pull-right">
                            <div class="bt-language">
                                <form method="post" enctype="multipart/form-data" class="language">
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <span><img src="~/Content/images/flags/es.png" alt="Español" title="Español"></span> <span>es</span><i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="de"><span class="text-left">Español</span><span class="text-right"><img src="~/Content/images/flags/es.png" alt="Español" title="Español" /></span></a>
                                            </li>
                                            <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="~/Content/images/flags/us.png" alt="English" title="English" /></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                    <input type="hidden" name="redirect" value="" /> </form>
                            </div><!-- /.bt-language -->
                            <!--<div class="bt-currency">
                                <form method="post" enctype="multipart/form-data" class="currency">
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                    <input type="hidden" name="redirect" value="" /> </form>
                            </div>--><!-- /.bt-currency -->
                            <ul class="list-inline">
                                <li><a href="wishlist.html" id="wishlist-total" title="Wish List (0)"><span><i class="fa fa-heart"></i> Wish List (0)</span></a>
                                </li>
                                <li class="dropdown"><a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-user"></i>Mi Cuenta</span><i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="register.html"><span>Registrarse</span><span><i class="fa fa-unlock-alt"></i></span></a>
                                        </li>
                                        <li><a href="login.html"><span>Ingresar</span><span><i class="fa fa-user"></i></span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
                </div>
            </div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
            <div class="bt-mobile">
                <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                    <div class="bt-language">
                        <form method="post" enctype="multipart/form-data" class="language">
                            <div class="btn-group">
                               <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <span><img src="~/Content/images/flags/es.png" alt="Español" title="Español"></span> <span>es</span><i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="de"><span class="text-left">Español</span><span class="text-right"><img src="~/Content/images/flags/es.png" alt="Español" title="Español" /></span></a>
                                            </li>
                                            <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="~/Content/images/flags/us.png" alt="English" title="English" /></span></a>
                                            </li>
                                        </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="" /> </form>
                    </div><!-- /.bt-language -->
                   <!-- <div class="bt-currency">
                        <form method="post" enctype="multipart/form-data" class="currency">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="" /> </form>
                    </div>--><!-- /.bt-currency -->
                    <div class="logged-link"> <a href="login.html"><i class="fa fa-sign-in"></i><span>Sign In</span></a> <a href="register.html"><i class="fa fa-hand-o-up"></i><span>Join for Free</span></a> </div>
                </div>
            </div><!-- /.bt-mobile -->
            <header>
                <div class="container">
                    <div class="row">
                        <!--<div class="col-sm-3">-->
                        <div id="logo">
                            <a href="/"><img src="~/Content/images/logo.png" title="Comohos Store" alt="Comohos Store" class="img-responsive" />
                            </a>
                        </div>
                        <!-- </div>-->
                        <div id="cart" class="btn-group btn-block">
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">2 item(s) - $316.00</span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <table class="table table-striped">
                                                <tr>
                                                    <td class="text-left image">
                                                        <div class="image">
                                                            <a href="~/TIENDA/Producto"><img src="~/Content/images/product/p21-115x131.jpg" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-thumbnail" />
                                                            </a>
                                                            <div class="remove">
                                                                <button type="button" title="Remove" class="btn-danger"><i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-left name">
                                                        <a href="~/TIENDA/Producto">Cashmere cuff vintage Levi maxi</a>
                                                        <br /> - <small>Color Pink</small>
                                                        <div>2 x <span class="price">$316.00</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <div class="cart_bottom">
                                                <table class="minicart_total">
                                                    <tr>
                                                        <td class="text-left"><span>Sub-Total</span>
                                                        </td>
                                                        <td class="text-right">$260.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>Eco Tax (-2.00)</span>
                                                        </td>
                                                        <td class="text-right">$4.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>VAT (20%)</span>
                                                        </td>
                                                        <td class="text-right">$52.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>Total</span>
                                                        </td>
                                                        <td class="text-right">$316.00</td>
                                                    </tr>
                                                </table>
                                                <div class="buttons"> 
                                                    <span class="cart_bt"><a href="cart.html" class="btn">Ver Carrito</a></span> 
                                                    <span class="checkout_bt"><a class="btn btn-shopping" href="checkout.html">Checkout</a></span> 
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                        </div><!-- /#cart -->
                        <div class="bt-block-call-us">
                            <a href="#"><img src="~/Content/images/support.jpg" alt="call us">
                            </a>
                            <p>Llámenos ahora</p> <span>(51) 1 205 0000</span> 
                        </div><!-- /.bt-block-call-us -->
                        <div id="boss-search" class="fourteen columns omega">
                            <div class="choose-select">
                                <div class="input_cat">
                                    <select name="filter_category_id" id="boss_filter_search">
                                        <option value="0" selected="selected">Todas las Categorías</option>
                                        <option value="">Collares</option>
                                        <option value="">Pulseras</option>
                                        <option value="">Aretes</option>
                                        <option value="">Tobilleras</option>
                                    </select>
                                </div>
                                <div class="search-form">
                                    <div id="search" class="input-group">
                                        <input type="text" name="search" value="" placeholder="Buscar aquí..." class="form-control input-lg" /> 
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                                      </span> </div>
                                </div>
                            </div>
                        </div><!-- /#boss-search -->
                    </div>
                </div>
            </header>
            <div class="boss-new-position">
                <div class="boss_header"></div>
                <div class="container">
                    <div class="menu_custom row">
                        <div class="menu">
                            <!-- Load menu -->
                            <div class="menubar">
                                <div class="container">
                                    <div class="bt_mainmenu">
                                        
                                    </div>
                                </div>
                            </div><!-- /.menubar -->
                        </div><!-- /.menu -->
                        
                        <div class="header_category">
                            <div id="boss-menu-category" class="box">
                                <div class="boss_heading">
                                    <div class="box-heading"><span>@Labels.Categorias</span><span></span>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="box-category boss-menu-cate">
                                        <li>
                                            <div class="nav_title"> <img alt="Collares" src="~/Content/images/icon/icono_collar.png" /> <a class="title" href="TIENDA/Categorias?id=1">Collares</a> </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Pulseras" src="~/Content/images/icon/icono_pulsera.png" /> <a class="title" href="TIENDA/Categorias?id=2">Brazaletes</a> </div>
                                        </li>
                                       <li>
                                            <div class="nav_title"> <img alt="Aretes" src="~/Content/images/icon/icono_aretes.png" /> <a class="title" href="TIENDA/Categorias?id=3">Aretes</a> </div>
                                        </li>
                                       <li>
                                            <div class="nav_title"> <img alt="Tobilleras" src="~/Content/images/icon/icono_tob.png" /> <a class="title" href="TIENDA/Categorias?id=4">Tobilleras</a> </div>
                                        </li>
                                    </ul>
                                </div><!-- /.box-content -->
                            </div>
                        </div><!-- /.header_category -->
                        <div class="header_category menucategory-fixed">
                            <div id="boss-menu-category-fixed" class="box">
                                <div class="boss_heading">
                                    <div class="box-heading"><span>Categorías</span><span></span>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="box-category boss-menu-cate">
                                        <li>
                                            <div class="nav_title"> <img alt="Collares" src="~/Content/images/icon/icono_collar.png" /> <a class="title" href="TIENDA/Categorias?id=1">Collares</a> </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Pulseras" src="~/Content/images/icon/icono_pulsera.png" /> <a class="title" href="TIENDA/Categorias?id=2">Brazaletes</a> </div>
                                        </li>
                                       <li>
                                            <div class="nav_title"> <img alt="Aretes" src="~/Content/images/icon/icono_aretes.png" /> <a class="title" href="TIENDA/Categorias?id=3">Aretes</a> </div>
                                        </li>
                                       <li>
                                            <div class="nav_title"> <img alt="Tobilleras" src="~/Content/images/icon/icono_tob.png" /> <a class="title" href="TIENDA/Categorias?id=4">Tobilleras</a> </div>
                                        </li>
                                    </ul>
                                </div><!-- /.box-content -->
                            </div>
                        </div><!-- /.header_category -->
                        <div class="bt-staticblock-freeshipping">
                            &nbsp;
                        </div><!-- /.bt-staticblock-freeshipping -->
                        <!-- BODY  -->
                            @RenderBody() 
                        
                        
                    </div><!-- /.menu_custom -->
                </div>
            </div><!-- /.boss-new-position -->
        </div><!-- /#bt_header -->
        <div class="container">
            <div class="row">
                
            </div>
        </div><!-- /.container -->
        
        
            <div class="container">
            <div class="row">
                <div class="bt-staticblock-shipping">
                    <div class="bt-staticblock"> <a href="#" class="bt-shipping-icon"><i class="fa fa-paper-plane"></i></a>
                        <h3><a href="#">ENVIO</a> </h3>
                        <p>Los productos serán entregados dentro de los primeros 2.5 días desde la fecha en que se efectuo la compra.</p>
                    </div>
                    <div class="bt-staticblock"> <a href="#" class="bt-shipping-icon"><i class="fa fa-truck"></i></a>
                        <h3><a href="#">FREE SHIPPING</a>   </h3>
                        <p>Givenchy knot ponytail slipper bomber chunky sole slip dress Céline. Loafer Jil Sander Vasari oversized sweatshirt sneaker black lilac 90s skirt rings. </p>
                    </div>
                    <div class="bt-staticblock"> <a href="#" class="bt-shipping-icon"><i class="fa fa-tag"></i></a>
                        <h3> <a href="#">DESCUENTO POR COMPRAS</a></h3>
                        <p>Por compras superiores a los S/. 150.00 recibirás un código de descuento del 10% para tu siguiente compra.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
        
        <div id="bt_footer">
            <footer>
                <div class="bt-footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bt-block-footer col-sm-4 col-xs-12">
                                    <div class="col-xs-12">
                                        <a href="/"><img src="~/Content/images/logo_footer.png" alt="BijouBijou" title="BijouBijou" />
                                        </a>
                                        <p>Skort Maison Martin Margiela knot ponytail cami texture tucked t-shirt.<span class="bold-italic"> Black skirt razor pleats plaited gold collar.</span> Crop 90s spearminit indigo seam luxe washed out. Prada Saffiano cashmere crop sneaker chignon cami clutch cami texture Maison Martin Margiela knot ponytail.</p>
                                        <div class="footer-contact">
                                            <ul>
                                                <li><i class="fa fa-map-marker"></i> <span> &nbsp;Av. Arenales 450, Jesús María</span>
                                                </li>
                                                <li><i class="fa fa-phone"></i> <span>(51) 1 205 0000</span>
                                                </li>
                                                <li><i class="fa fa-envelope-o"></i> <span><a href="mailto:consultas@bijoubijou.com.pe">consultas@bijoubijou.com.pe</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 col-xs-12">
                                    <!--Load modules in position footer middle-->
                                    <div class="footer-social col-xs-4">
                                    <h3>Síguenos</h3>
                                    <ul>
                                        <li><a class="facebook" href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a class="twitter" href="https://twitter.com/" title="Twiter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a class="youtube" href="https://www.youtube.com/" title="YouTube"><i class="fa fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                                    <!-- /.box -->
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 col-xs-12">
                                    <!--Load modules in position footer newsletter-->
                                    <div class="bt-newsletter">
                                        <div class="footer-newsletter">
                                            <div class="title">
                                                <h3>Suscríbete al newsletter</h3>
                                                <p>Ingresa tu correo para enviarte las promociones.</p>
                                            </div>
                                            <div>
                                                <div class="newsletter-content">
                                                    <div id="frm_subscribe">
                                                        <form name="subscribe" id="subscribe">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <div class="boss-newsletter">
                                                                            <input class="form-control input-new" size="50" type="text" placeholder="Ingrese su correo aquí" name="subscribe_email" id="subscribe_email"> <a class="btn btn-new"><i class="fa fa-paper-plane"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr style="display:none;">
                                                                    <td>
                                                                        <input class="form-control input-new" size="50" type="text" value="Ingrese su correo aquí" name="subscribe_name" id="subscribe_name">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="subscribe_result"></td>
                                                                </tr>
                                                            </table>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col-sm-4 -->
                                
                            </div>
                        </div>
                    </div>
                </div><!-- /.bt-footer-middle -->
                <div class="bt-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="link">
                                <ul class="list-unstyled">
                                    <li><a href="~/TIENDA/Contactanos">Contáctanos</a>
                                    </li>
                                    <li><a href="~/TIENDA/Contactanos">Preguntas Frecuentes</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="powered-payment">
                                <div class="row">
                                    <div class="powered col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div id="powered">
                                            <!--<p>© 2015 Fashion Store. All rights Reserved.<span> Themes by <a href="http://htmlcooker.com">HTMLCooker</a>.</span>-->
                                            <!--</p>-->
                                        </div>
                                    </div>
                                    <div class="payment col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>
                                            <li>
                                                <a title="Visa" href="#" class="visa"><img alt="Visa" src="~/Content/images/visa.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a title="MasterCard" href="#" class="masterCard"><img alt="MasterCard" src="~/Content/images/master_card.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Paypal" href="#" class="paypal"><img alt="Paypal" src="~/Content/images/paypal.jpg">
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Merican" href="#" class="merican"><img alt="Merican" src="~/Content/images/american.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="DHL" href="#" class="dhl"><img alt="DHL" src="~/Content/images/dhl.jpg">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- /.powered-payment -->
                        </div>
                    </div>
                </div><!-- /.bt-footer-bottom -->
            </footer>
        </div><!-- /#bt_footer -->
        <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>

    </div>

    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/getwidthbrowser.js"></script>
    <script src="~/Content/js/cs.bossthemes.js"></script>
    <script src="~/Content/js/jquery.jgrowl.js"></script>
    <script src="~/Content/js/jquery.appear.js"></script>
    <script src="~/Content/js/jquery.smoothscroll.js"></script>
    <script src="~/Content/js/carouFredSel-6.2.1.js"></script>
    <script src="~/Content/js/boss_filterproduct.js"></script>
    <script src="~/Content/js/isotope.pkgd.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/jquery.tools.min.js"></script>
    <script src="~/Content/js/jquery.revolution.min.js"></script>
    <script src="~/Content/js/jquery.selectbox-0.2.min.js"></script>
    <script src="~/Content/js/cloud-zoom.1.0.3.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <!--[if IE 8]> 
    <script type="text/javascript">
    $(window).scroll(function() {
            var height_header = $('#bt_header').height();           
            if($('html').scrollTop() > height_header) {             
                $('header').addClass('boss_scroll');
            } else {
                $('header').removeClass('boss_scroll');
            }
        });
    </script>
    <![endif]-->
    <script>
        jQuery(document).ready(function () {
            /* Main Slider */
            $('.tp-banner0').show().revolution({
                dottedOverlay: "none",
                delay: 5000,
                startWithSlide: 0,
                startwidth: 870,
                startheight: 435,
                hideThumbs: 10,
                hideTimerBar: "on",
                thumbWidth: 50,
                thumbHeight: 50,
                thumbAmount: 4,
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "round",
                touchenabled: "on",
                onHoverStop: "on",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 50,
                soloArrowLeftVOffset: 8,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 50,
                soloArrowRightVOffset: 8,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner4",
                stopLoop: "on",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                forceFullWidth: "off",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 500,
                hideAllCaptionAtLilmit: 500,
                videoJsPath: "rs-plugin/videojs/",
                fullScreenOffsetContainer: ""
            });

            /* Today's Deals */
            setTimeout(function () {
                $('#product_special_0').carouFredSel({
                    auto: {
                        play: true,
                        timeoutDuration: 4000,
                    },
                    responsive: true,
                    width: '100%',
                    height: 'variable',
                    prev: '#prev_special_0',
                    next: '#next_special_0',
                    swipe: {
                        onTouch: true
                    },
                    items: {
                        width: 230,
                        height: 'variable',
                        visible: {
                            min: 1,
                            max: 1,
                        }
                    },
                    scroll: {
                        direction: 'left', //  The direction of the transition.
                        duration: 1200, //  The duration of the transition.
                        items: 1,
                    },
                });
            }, 200);

            /* Sidebar Tab */
            initCarousel(1, 0, 0, 1, 80);
            $("a.head_tabs0").click(function () {
                if (!$(this).parent().hasClass('active')) {
                    $(".head_tabs0").parent().removeClass("active");
                    var $src_tab = $(this).attr("data-src");
                    $($src_tab).parent().addClass("active");
                    $(".content_tabs0").hide();
                    var $selected_tab = $(this).attr("href");
                    $($selected_tab).fadeIn();
                }
                return false;
            });

            /* boss-testimonial */
            $('#boss_testimonial_0').carouFredSel({
                auto: {
                    play: true,
                    timeoutDuration: 4500,
                },
                responsive: true,
                width: '100%',
                height: 'variable',
                prev: '#prev_testimonial_0',
                next: '#next_testimonial_0',
                swipe: {
                    onTouch: false
                },
                items: {
                    /*width: image_width,*/
                    height: 'variable',
                    visible: {
                        min: 1,
                        max: 1
                    }
                },
                scroll: {
                    direction: 'left', //  The direction of the transition.
                    duration: 1000 //  The duration of the transition.
                },
                onCreate: function () {
                    $(window).smartresize(function () {
                        $('#boss_testimonial_0 div.testimonial-item').css("height", getMaxHeight('#boss_testimonial_0 div.testimonial-item'));
                        $('#boss_testimonial_min_height_0 div.caroufredsel_wrapper').css("width", '100%');
                        $('#boss_testimonial_min_height_0 div.caroufredsel_wrapper #boss_testimonial_0').css("width", '100%');
                    });
                }
            });
            $('#boss_testimonial_0 div.testimonial-item').css("height", getMaxHeight('#boss_testimonial_0 div.testimonial-item'));
            $('#boss_testimonial_min_height_0 div.caroufredsel_wrapper').css("min-height", getMaxHeight('#boss_testimonial_0 div.testimonial-item'));

            /* Best Selling */
            if ($(window).width() > 768) {
                var image_width = 195;
            } else {
                var image_width = 300;
            }
            $('#boss-big-product').carouFredSel({
                auto: {
                    play: true,
                    timeoutDuration: 4200,
                },
                responsive: true,
                width: '100%',
                height: 'variable',
                prev: '#prev_big_product',
                next: '#next_big_product',
                swipe: {
                    onTouch: true
                },
                items: {
                    width: image_width,
                    height: 'variable',
                    visible: {
                        min: 1,
                        max: 1
                    }
                },
                scroll: {
                    direction: 'left', //  The direction of the transition.
                    duration: 1100, //  The duration of the transition.
                    item: 1
                },
            });

            function loadslider($tabmodule) {
                if ($(window).width() > 768) {
                    var image_width = 80;
                } else {
                    var image_width = 300;
                }
                $('#boss_procate_' + $tabmodule).carouFredSel({
                    auto: false,
                    responsive: true,
                    width: '100%',
                    height: 'variable',
                    prev: '#bt_next_pro_' + $tabmodule,
                    next: '#bt_prev_pro_' + $tabmodule,
                    pagination: '#bt_pag_pro_' + $tabmodule,
                    swipe: {
                        onTouch: true
                    },
                    items: {
                        width: image_width,
                        height: 'variable',
                        visible: {
                            min: 1,
                            max: 1
                        }
                    },
                    scroll: {
                        direction: 'left', //  The direction of the transition.
                        duration: 1000 //  The duration of the transition.
                    }
                });
            };

            boss_quick_shop();
        });

        /* Today's Deals */
        var myVar = setInterval(function () {
            Deal0()
        }, 1000);

        function Deal0() {
            var i = 0;
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime00").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime01").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime02").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime03").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime04").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
        }
        function checkTime(j) {
            if (j < 10) {
                j = "0" + j;
            }
            return j;
        }

        /* Modal Quick Shop */
        $('#myModal').on('shown.bs.modal', function (e) {
            $.fn.CloudZoom.defaults = {
                adjustX: 0,
                adjustY: 0,
                tint: '#FFF',
                tintOpacity: 0.5,
                softFocus: 0,
                lensOpacity: 0.7,
                zoomWidth: '450',
                zoomHeight: '552',
                position: 'inside',
                showTitle: 0,
                titleOpacity: 0.5,
                smoothMove: '3'
            };
            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
        })
        /* Quick Shop */
        function boss_quick_shop() {
            $('.product-thumb').each(function (index, value) {
                var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
                $('.button-group', this).append(_qsHref);
            });
        }
    </script>
</body>
</html>
