﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Retail Store</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <!-- ================= Google Fonts ================== -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/menu_default.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_megamenu.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.jgrowl.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_alphabet.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_facecomments.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/loading.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/cs.animate.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_special.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/boss_filterproduct.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/isotope.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/bossblog.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/revolutionslider_settings.css" media="screen" />

    </head>
    <body class="bt-home-page">

        <div id="bt_header">
            <nav id="top">
                <div class="container">
                    <div class="row">
                        <div id="left_top_links" class="nav pull-left"> <a href="contact.html"><i class="fa fa-phone"></i> <span>HOTLINE: 111-111-1111</span></a> </div>
                        <div id="right_top_links" class="nav pull-right">
                            <div class="bt-language">
                                <form method="post" enctype="multipart/form-data" class="language">
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <span><img src="~/Content/images/flags/gb.png" alt="English" title="English"></span> <span>en</span><i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="~/Content/images/flags/gb.png" alt="English" title="English" /></span></a>
                                            </li>
                                            <li><a href="de"><span class="text-left">Deutsch</span><span class="text-right"><img src="~/Content/images/flags/de.png" alt="Deutsch" title="Deutsch" /></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                    <input type="hidden" name="redirect" value="" /> </form>
                            </div><!-- /.bt-language -->
                            <div class="bt-currency">
                                <form method="post" enctype="multipart/form-data" class="currency">
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="code" value="" />
                                    <input type="hidden" name="redirect" value="" /> </form>
                            </div><!-- /.bt-currency -->
                            <ul class="list-inline">
                                <li><a href="wishlist.html" id="wishlist-total" title="Wish List (0)"><span><i class="fa fa-heart"></i> Wish List (0)</span></a>
                                </li>
                                <li class="dropdown"><a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-user"></i>My Account</span><i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="register.html"><span>Register</span><span><i class="fa fa-unlock-alt"></i></span></a>
                                        </li>
                                        <li><a href="login.html"><span>Login</span><span><i class="fa fa-user"></i></span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
                </div>
            </div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
            <div class="bt-mobile">
                <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                    <div class="bt-language">
                        <form method="post" enctype="multipart/form-data" class="language">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <span><img src="~/Content/images/flags/gb.png" alt="English" title="English"></span> <span>en</span><i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="~/Content/images/flags/gb.png" alt="English" title="English" /></span></a>
                                    </li>
                                    <li><a href="de"><span class="text-left">Deutsch</span><span class="text-right"><img src="~/Content/images/flags/de.png" alt="Deutsch" title="Deutsch" /></span></a>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="" /> </form>
                    </div><!-- /.bt-language -->
                    <div class="bt-currency">
                        <form method="post" enctype="multipart/form-data" class="currency">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="" /> </form>
                    </div><!-- /.bt-currency -->
                    <div class="logged-link"> <a href="login.html"><i class="fa fa-sign-in"></i><span>Sign In</span></a> <a href="register.html"><i class="fa fa-hand-o-up"></i><span>Join for Free</span></a> </div>
                    <div class="menubar">
                        <div class="container">
                            
                        </div>
                    </div><!-- /.menubar -->
                </div>
            </div><!-- /.bt-mobile -->
            <header>
                <div class="container">
                    <div class="row">
                        <!--<div class="col-sm-3">-->
                        <div id="logo">
                            <a href="/"><img src="~/Content/images/logo.png" title="Comohos Store" alt="Comohos Store" class="img-responsive" />
                            </a>
                        </div>
                        <!-- </div>-->
                        <div id="cart" class="btn-group btn-block">
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">2 item(s) - $316.00</span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <table class="table table-striped">
                                                <tr>
                                                    <td class="text-left image">
                                                        <div class="image">
                                                            <a href="product-detail.html"><img src="~/Content/images/product/p21-115x131.jpg" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-thumbnail" />
                                                            </a>
                                                            <div class="remove">
                                                                <button type="button" title="Remove" class="btn-danger"><i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-left name">
                                                        <a href="product-detail.html">Cashmere cuff vintage Levi maxi</a>
                                                        <br /> - <small>Color Pink</small>
                                                        <div>2 x <span class="price">$316.00</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <div class="cart_bottom">
                                                <table class="minicart_total">
                                                    <tr>
                                                        <td class="text-left"><span>Sub-Total</span>
                                                        </td>
                                                        <td class="text-right">$260.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>Eco Tax (-2.00)</span>
                                                        </td>
                                                        <td class="text-right">$4.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>VAT (20%)</span>
                                                        </td>
                                                        <td class="text-right">$52.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"><span>Total</span>
                                                        </td>
                                                        <td class="text-right">$316.00</td>
                                                    </tr>
                                                </table>
                                                <div class="buttons"> 
                                                    <span class="cart_bt"><a href="cart.html" class="btn">View Cart</a></span> 
                                                    <span class="checkout_bt"><a class="btn btn-shopping" href="checkout.html">Checkout</a></span> 
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                        </div><!-- /#cart -->
                        <div class="bt-block-call-us">
                            <a href="#"><img src="~/Content/images/support.jpg" alt="call us">
                            </a>
                            <p>Call Us Now</p> <span>(84) 8 6270 6519</span> 
                        </div><!-- /.bt-block-call-us -->
                        <div id="boss-search" class="fourteen columns omega">
                            <div class="choose-select">
                                <div class="input_cat">
                                    <select name="filter_category_id" id="boss_filter_search">
                                        <option value="0" selected="selected">All Categories</option>
                                        <option value="">Handbags</option>
                                        <option value="20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mens Clothing</option>
                                        <option value="18">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earnings</option>
                                        <option value="57">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jeans</option>
                                        <option value="33">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Necklaces</option>
                                        <option value="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pant</option>
                                        <option value="17">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T-Shirt/Shirt</option>
                                        <option value="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Watches</option>
                                        <option value="52">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Atomic</option>
                                        <option value="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Classic</option>
                                        <option value="53">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Databank</option>
                                        <option value="54">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pathfinder</option>
                                        <option value="51">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sports</option>
                                        <option value="27">Shorts</option>
                                        <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dresses</option>
                                        <option value="60">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pant</option>
                                        <option value="25">Shoes</option>
                                        <option value="46">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hoodies &amp; Jackets</option>
                                        <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outerwear</option>
                                        <option value="62">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cosplay</option>
                                        <option value="63">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eastern</option>
                                        <option value="64">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Folkloric</option>
                                        <option value="65">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gamine</option>
                                        <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pants &amp; Shorts</option>
                                        <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slips &amp; Shapewear</option>
                                        <option value="29">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sweatshirts</option>
                                        <option value="68">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ankara</option>
                                        <option value="67">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beatnik</option>
                                        <option value="66">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Glamour</option>
                                        <option value="69">Hipster</option>
                                        <option value="71">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ladylike</option>
                                        <option value="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Latino</option>
                                        <option value="24">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Underwear</option>
                                        <option value="72">Nymphet</option>
                                        <option value="31">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Underwear &amp; Socks</option>
                                        <option value="73">Prairie</option>
                                    </select>
                                </div>
                                <div class="search-form">
                                    <div id="search" class="input-group">
                                        <input type="text" name="search" value="" placeholder="Search here..." class="form-control input-lg" /> 
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                                      </span> </div>
                                </div>
                            </div>
                        </div><!-- /#boss-search -->
                    </div>
                </div>
            </header>
            <div class="boss-new-position">
                <div class="boss_header"></div>
                <div class="container">
                    <div class="menu_custom row">
                        <div class="menu">
                            <!-- Load menu -->
                            <div class="menubar">
                                <div class="container">
                                    
                                </div>
                            </div><!-- /.menubar -->
                        </div><!-- /.menu -->
                        <div class="header_category">
                            <div id="boss-menu-category" class="box">
                                <div class="boss_heading">
                                    <div class="box-heading"><span>Categories</span><span></span>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="box-category boss-menu-cate">
                                        <li>
                                            <div class="nav_title"> <img alt="Women's Clothing" src="~/Content/images/icon/icon_category_01-20x25.png" /> <a class="title" href="#">Women's Clothing<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style="background-image: url(images/bg_submenu.png); background-position: top right;background-repeat: no-repeat;  ">
                                                <div class="nav_submenu_inner" style="width:500px;">
                                                    <a title="Women's Clothing" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_parent" style="width:166.66666666667px;"> <a href="#">Mens Clothing</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Earnings</a>
                                                                        </li>
                                                                        <li><a href="#">Jeans</a>
                                                                        </li>
                                                                        <li><a href="#">Necklaces</a>
                                                                        </li>
                                                                        <li><a href="#">Pant</a>
                                                                        </li>
                                                                        <li><a href="#">T-Shirt/Shirt</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="nav_cat_parent" style="width:166.66666666667px;"> <a href="#">Watches</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Atomic</a>
                                                                        </li>
                                                                        <li><a href="#">Classic</a>
                                                                        </li>
                                                                        <li><a href="#">Databank</a>
                                                                        </li>
                                                                        <li><a href="#">Pathfinder</a>
                                                                        </li>
                                                                        <li><a href="#">Sports</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Men's Clothing" src="~/Content/images/icon/icon_category_03-20x25.png" /> <a class="title" href="#">Men's Clothing<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:350px;">
                                                    <a title="Men's Clothing" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Mens Clothing</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Earnings</a>
                                                                        </li>
                                                                        <li><a href="#">Jeans</a>
                                                                        </li>
                                                                        <li><a href="#">Necklaces</a>
                                                                        </li>
                                                                        <li><a href="#">Pant</a>
                                                                        </li>
                                                                        <li><a href="#">T-Shirt/Shirt</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Watches</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Atomic</a>
                                                                        </li>
                                                                        <li><a href="#">Classic</a>
                                                                        </li>
                                                                        <li><a href="#">Databank</a>
                                                                        </li>
                                                                        <li><a href="#">Pathfinder</a>
                                                                        </li>
                                                                        <li><a href="#">Sports</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="eyeglasses" src="~/Content/images/icon/icon_category_07-20x25.png" /> <a class="title" href="#">eyeglasses<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="eyeglasses" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Earnings</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Jeans</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Necklaces</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Pant</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">T-Shirt/Shirt</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Steel  Watches" src="~/Content/images/icon/icon_category_09-20x25.png" /> <a class="title" href="#">Steel  Watches</a> </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="handbags" src="~/Content/images/icon/icon_category_11-20x25.png" /> <a class="title" href="#">handbags<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:350px;">
                                                    <a title="handbags" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Mens Clothing</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Earnings</a>
                                                                        </li>
                                                                        <li><a href="#">Jeans</a>
                                                                        </li>
                                                                        <li><a href="#">Necklaces</a>
                                                                        </li>
                                                                        <li><a href="#">Pant</a>
                                                                        </li>
                                                                        <li><a href="#">T-Shirt/Shirt</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Watches</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Atomic</a>
                                                                        </li>
                                                                        <li><a href="#">Classic</a>
                                                                        </li>
                                                                        <li><a href="#">Databank</a>
                                                                        </li>
                                                                        <li><a href="#">Pathfinder</a>
                                                                        </li>
                                                                        <li><a href="#">Sports</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="shoes" src="~/Content/images/icon/icon_category_13-20x25.png" /> <a class="title" href="#">shoes<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="shoes" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Cosplay</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Eastern</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Folkloric</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Gamine</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="kid’s clothing" src="~/Content/images/icon/icon_category_15-20x25.png" /> <a class="title" href="#">kid’s clothing<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="kid’s clothing" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Ankara</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Beatnik</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Glamour</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Accessories" src="~/Content/images/icon/icon_category_17-20x25.png" /> <a class="title" href="#">Accessories</a> </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="sale off" src="~/Content/images/icon/icon_category_19-20x25.png" /> <a class="title" href="#">sale off<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="sale off" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Underwear &amp; Socks</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="Jacket" src="~/Content/images/icon/icon_category_05-20x25.png" /> <a class="title" href="#">Jacket<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="Jacket" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Atomic</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Classic</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Databank</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Pathfinder</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Sports</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="T-shirt" src="~/Content/images/icon/icon_category_07-20x25.png" /> <a class="title" href="#">T-shirt<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="T-shirt" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Underwear &amp; Socks</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="Dress" src="~/Content/images/icon/icon_category_09-20x25.png" /> <a class="title" href="#">Dress</a> </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="Sock" src="~/Content/images/icon/icon_category_17-20x25.png" /> <a class="title" href="#">Sock</a> </div>
                                        </li>
                                        <li class="menu_loadmore">
                                            <div class="nav_title"> <a class="more title" href="javascript:void(0)">More Category<i class="fa fa-plus-square-o"></i></a> </div>
                                        </li>
                                        <li class="menu_loadmore_hidden">
                                            <div class="nav_title"> <a class="more title" href="javascript:void(0)">Less Category<i class="fa fa-minus-square-o"></i></a> </div>
                                        </li>
                                    </ul>
                                </div><!-- /.box-content -->
                            </div>
                        </div><!-- /.header_category -->
                        <div class="header_category menucategory-fixed">
                            <div id="boss-menu-category-fixed" class="box">
                                <div class="boss_heading">
                                    <div class="box-heading"><span>Categories</span><span></span>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="box-category boss-menu-cate">
                                        <li>
                                            <div class="nav_title"> <img alt="Women's Clothing" src="~/Content/images/icon/icon_category_01-20x25.png" /> <a class="title" href="#">Women's Clothing<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style="background-image: url(images/bg_submenu.png); background-position: top right;background-repeat: no-repeat;  ">
                                                <div class="nav_submenu_inner" style="width:500px;">
                                                    <a title="Women's Clothing" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_parent" style="width:166.66666666667px;"> <a href="#">Mens Clothing</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Earnings</a>
                                                                        </li>
                                                                        <li><a href="#">Jeans</a>
                                                                        </li>
                                                                        <li><a href="#">Necklaces</a>
                                                                        </li>
                                                                        <li><a href="#">Pant</a>
                                                                        </li>
                                                                        <li><a href="#">T-Shirt/Shirt</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="nav_cat_parent" style="width:166.66666666667px;"> <a href="#">Watches</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Atomic</a>
                                                                        </li>
                                                                        <li><a href="#">Classic</a>
                                                                        </li>
                                                                        <li><a href="#">Databank</a>
                                                                        </li>
                                                                        <li><a href="#">Pathfinder</a>
                                                                        </li>
                                                                        <li><a href="#">Sports</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Men's Clothing" src="~/Content/images/icon/icon_category_03-20x25.png" /> <a class="title" href="#">Men's Clothing<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:350px;">
                                                    <a title="Men's Clothing" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Mens Clothing</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Earnings</a>
                                                                        </li>
                                                                        <li><a href="#">Jeans</a>
                                                                        </li>
                                                                        <li><a href="#">Necklaces</a>
                                                                        </li>
                                                                        <li><a href="#">Pant</a>
                                                                        </li>
                                                                        <li><a href="#">T-Shirt/Shirt</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Watches</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Atomic</a>
                                                                        </li>
                                                                        <li><a href="#">Classic</a>
                                                                        </li>
                                                                        <li><a href="#">Databank</a>
                                                                        </li>
                                                                        <li><a href="#">Pathfinder</a>
                                                                        </li>
                                                                        <li><a href="#">Sports</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="eyeglasses" src="~/Content/images/icon/icon_category_07-20x25.png" /> <a class="title" href="#">eyeglasses<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="eyeglasses" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Earnings</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Jeans</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Necklaces</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Pant</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">T-Shirt/Shirt</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Steel  Watches" src="~/Content/images/icon/icon_category_09-20x25.png" /> <a class="title" href="#">Steel  Watches</a> </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="handbags" src="~/Content/images/icon/icon_category_11-20x25.png" /> <a class="title" href="#">handbags<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:350px;">
                                                    <a title="handbags" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Mens Clothing</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Earnings</a>
                                                                        </li>
                                                                        <li><a href="#">Jeans</a>
                                                                        </li>
                                                                        <li><a href="#">Necklaces</a>
                                                                        </li>
                                                                        <li><a href="#">Pant</a>
                                                                        </li>
                                                                        <li><a href="#">T-Shirt/Shirt</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="nav_cat_parent" style="width:175px;"> <a href="#">Watches</a>
                                                                <div class="sub_cat_child">
                                                                    <ul>
                                                                        <li><a href="#">Atomic</a>
                                                                        </li>
                                                                        <li><a href="#">Classic</a>
                                                                        </li>
                                                                        <li><a href="#">Databank</a>
                                                                        </li>
                                                                        <li><a href="#">Pathfinder</a>
                                                                        </li>
                                                                        <li><a href="#">Sports</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="shoes" src="~/Content/images/icon/icon_category_13-20x25.png" /> <a class="title" href="#">shoes<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="shoes" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Cosplay</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Eastern</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Folkloric</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Gamine</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="kid’s clothing" src="~/Content/images/icon/icon_category_15-20x25.png" /> <a class="title" href="#">kid’s clothing<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="kid’s clothing" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Ankara</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Beatnik</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Glamour</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="Accessories" src="~/Content/images/icon/icon_category_17-20x25.png" /> <a class="title" href="#">Accessories</a> </div>
                                        </li>
                                        <li>
                                            <div class="nav_title"> <img alt="sale off" src="~/Content/images/icon/icon_category_19-20x25.png" /> <a class="title" href="#">sale off<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="sale off" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Underwear &amp; Socks</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="Jacket" src="~/Content/images/icon/icon_category_05-20x25.png" /> <a class="title" href="#">Jacket<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="Jacket" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Atomic</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Classic</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Databank</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Pathfinder</a> </li>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Sports</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="T-shirt" src="~/Content/images/icon/icon_category_07-20x25.png" /> <a class="title" href="#">T-shirt<span><i class="fa fa-angle-right"></i></span></a> </div>
                                            <div class="nav_submenu" style=" ">
                                                <div class="nav_submenu_inner" style="width:180px;">
                                                    <a title="T-shirt" href="#"></a>
                                                    <div class="nav_sub_submenu">
                                                        <ul>
                                                            <li class="nav_cat_child" style="width:180px;"> <a href="#">Underwear &amp; Socks</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="Dress" src="~/Content/images/icon/icon_category_09-20x25.png" /> <a class="title" href="#">Dress</a> </div>
                                        </li>
                                        <li class="b_menucategory_hidde">
                                            <div class="nav_title"> <img alt="Sock" src="~/Content/images/icon/icon_category_17-20x25.png" /> <a class="title" href="#">Sock</a> </div>
                                        </li>
                                        <li class="menu_loadmore">
                                            <div class="nav_title"> <a class="more title" href="javascript:void(0)">More Category<i class="fa fa-plus-square-o"></i></a> </div>
                                        </li>
                                        <li class="menu_loadmore_hidden">
                                            <div class="nav_title"> <a class="more title" href="javascript:void(0)">Less Category<i class="fa fa-minus-square-o"></i></a> </div>
                                        </li>
                                    </ul>
                                </div><!-- /.box-content -->
                            </div>
                        </div><!-- /.header_category -->
                       <!-- /.bt-staticblock-freeshipping -->
                        <div class="header_slider">
                            <div class="boss_slider">
                                <div class="tp-banner-container">
                                    <!-- /.tp-banner -->
                                </div>
                            </div>
                        </div><!-- /.header_slider -->
                    </div><!-- /.menu_custom -->
                </div>
            </div><!-- /.boss-new-position -->
        </div>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

         <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/getwidthbrowser.js"></script>
    <script src="js/cs.bossthemes.js"></script>
    <script src="js/jquery.jgrowl.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.smoothscroll.js"></script>
    <script src="js/carouFredSel-6.2.1.js"></script>
    <script src="js/boss_filterproduct.js"></script>
    <script src="js/isotope.pkgd.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/jquery.tools.min.js"></script>
    <script src="js/jquery.revolution.min.js"></script>
    <script src="js/jquery.selectbox-0.2.min.js"></script>
    <script src="js/cloud-zoom.1.0.3.js"></script>
    <script src="js/custom.js"></script>
    <!--[if IE 8]> 
    <script type="text/javascript">
    $(window).scroll(function() {
            var height_header = $('#bt_header').height();           
            if($('html').scrollTop() > height_header) {             
                $('header').addClass('boss_scroll');
            } else {
                $('header').removeClass('boss_scroll');
            }
        });
    </script>
    <![endif]-->
    <script>
        jQuery(document).ready(function () {
            /* Main Slider */
            $('.tp-banner0').show().revolution({
                dottedOverlay: "none",
                delay: 5000,
                startWithSlide: 0,
                startwidth: 870,
                startheight: 435,
                hideThumbs: 10,
                hideTimerBar: "on",
                thumbWidth: 50,
                thumbHeight: 50,
                thumbAmount: 4,
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "round",
                touchenabled: "on",
                onHoverStop: "on",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 50,
                soloArrowLeftVOffset: 8,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 50,
                soloArrowRightVOffset: 8,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner4",
                stopLoop: "on",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                forceFullWidth: "off",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 500,
                hideAllCaptionAtLilmit: 500,
                videoJsPath: "rs-plugin/videojs/",
                fullScreenOffsetContainer: ""
            });

            /* Today's Deals */
            setTimeout(function () {
                $('#product_special_0').carouFredSel({
                    auto: {
                        play: true,
                        timeoutDuration: 4000,
                    },
                    responsive: true,
                    width: '100%',
                    height: 'variable',
                    prev: '#prev_special_0',
                    next: '#next_special_0',
                    swipe: {
                        onTouch: true
                    },
                    items: {
                        width: 230,
                        height: 'variable',
                        visible: {
                            min: 1,
                            max: 1,
                        }
                    },
                    scroll: {
                        direction: 'left', //  The direction of the transition.
                        duration: 1200, //  The duration of the transition.
                        items: 1,
                    },
                });
            }, 200);

            /* Sidebar Tab */
            initCarousel(1, 0, 0, 1, 80);
            $("a.head_tabs0").click(function () {
                if (!$(this).parent().hasClass('active')) {
                    $(".head_tabs0").parent().removeClass("active");
                    var $src_tab = $(this).attr("data-src");
                    $($src_tab).parent().addClass("active");
                    $(".content_tabs0").hide();
                    var $selected_tab = $(this).attr("href");
                    $($selected_tab).fadeIn();
                }
                return false;
            });

            /* boss-testimonial */
            $('#boss_testimonial_0').carouFredSel({
                auto: {
                    play: true,
                    timeoutDuration: 4500,
                },
                responsive: true,
                width: '100%',
                height: 'variable',
                prev: '#prev_testimonial_0',
                next: '#next_testimonial_0',
                swipe: {
                    onTouch: false
                },
                items: {
                    /*width: image_width,*/
                    height: 'variable',
                    visible: {
                        min: 1,
                        max: 1
                    }
                },
                scroll: {
                    direction: 'left', //  The direction of the transition.
                    duration: 1000 //  The duration of the transition.
                },
                onCreate: function () {
                    $(window).smartresize(function () {
                        $('#boss_testimonial_0 div.testimonial-item').css("height", getMaxHeight('#boss_testimonial_0 div.testimonial-item'));
                        $('#boss_testimonial_min_height_0 div.caroufredsel_wrapper').css("width", '100%');
                        $('#boss_testimonial_min_height_0 div.caroufredsel_wrapper #boss_testimonial_0').css("width", '100%');
                    });
                }
            });
            $('#boss_testimonial_0 div.testimonial-item').css("height", getMaxHeight('#boss_testimonial_0 div.testimonial-item'));
            $('#boss_testimonial_min_height_0 div.caroufredsel_wrapper').css("min-height", getMaxHeight('#boss_testimonial_0 div.testimonial-item'));

            /* Best Selling */
            if ($(window).width() > 768) {
                var image_width = 195;
            } else {
                var image_width = 300;
            }
            $('#boss-big-product').carouFredSel({
                auto: {
                    play: true,
                    timeoutDuration: 4200,
                },
                responsive: true,
                width: '100%',
                height: 'variable',
                prev: '#prev_big_product',
                next: '#next_big_product',
                swipe: {
                    onTouch: true
                },
                items: {
                    width: image_width,
                    height: 'variable',
                    visible: {
                        min: 1,
                        max: 1
                    }
                },
                scroll: {
                    direction: 'left', //  The direction of the transition.
                    duration: 1100, //  The duration of the transition.
                    item: 1
                },
            });

            function loadslider($tabmodule) {
                if ($(window).width() > 768) {
                    var image_width = 80;
                } else {
                    var image_width = 300;
                }
                $('#boss_procate_' + $tabmodule).carouFredSel({
                    auto: false,
                    responsive: true,
                    width: '100%',
                    height: 'variable',
                    prev: '#bt_next_pro_' + $tabmodule,
                    next: '#bt_prev_pro_' + $tabmodule,
                    pagination: '#bt_pag_pro_' + $tabmodule,
                    swipe: {
                        onTouch: true
                    },
                    items: {
                        width: image_width,
                        height: 'variable',
                        visible: {
                            min: 1,
                            max: 1
                        }
                    },
                    scroll: {
                        direction: 'left', //  The direction of the transition.
                        duration: 1000 //  The duration of the transition.
                    }
                });
            };

            boss_quick_shop();
        });

        /* Today's Deals */
        var myVar = setInterval(function () {
            Deal0()
        }, 1000);

        function Deal0() {
            var i = 0;
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime00").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime01").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime02").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime03").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
            var today = new Date();
            var dateStr = "0000-00-00";

            if (dateStr != "0000-00-00") {
                var date = dateStr.split("-");
                var date_end = new Date(date[0], (date[1] - 1), date[2]);
                var deal = new Date();
                deal.setTime(date_end - today);

                if (date_end >= today) {
                    var month = new Date(deal.getMonth(), deal.getMonth(), 0).getDate();
                    var d = deal.getDate() + (month * deal.getMonth());
                    var h = deal.getHours() + (d * 24);
                    var m = deal.getMinutes();
                    var s = deal.getSeconds();
                    h = checkTime(h);
                    m = checkTime(m);
                    s = checkTime(s);
                    $(".datetime04").html('<div class="sep"></div><div><span class="number">' + h + '</span><span>Hours</span></div><div class="sep"></div><div><span class="number">' + m + '</span><span>Mins</span></div><div class="sep"></div><div><span class="number">' + s + '</span><span>Secs</span></div>');
                }
            }
        }
        function checkTime(j) {
            if (j < 10) {
                j = "0" + j;
            }
            return j;
        }

        /* Modal Quick Shop */
        $('#myModal').on('shown.bs.modal', function (e) {
            $.fn.CloudZoom.defaults = {
                adjustX: 0,
                adjustY: 0,
                tint: '#FFF',
                tintOpacity: 0.5,
                softFocus: 0,
                lensOpacity: 0.7,
                zoomWidth: '450',
                zoomHeight: '552',
                position: 'inside',
                showTitle: 0,
                titleOpacity: 0.5,
                smoothMove: '3'
            };
            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
        })
        /* Quick Shop */
        function boss_quick_shop() {
            $('.product-thumb').each(function (index, value) {
                var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
                $('.button-group', this).append(_qsHref);
            });
        }
    </script>
    </body>
</html>
