﻿@{
    ViewBag.Title = "Bijou Bijou - Contactanos";
    Layout = "~/Areas/TIENDA/Views/Shared/_LayoutTienda.cshtml";
}

<div class="container">
            <div class="row">
                <column id="column1" class="col-sm-3 hidden-xs">
                </column><!-- /#column-left -->
                <div id="content" class="col-sm-9">
                    <h1>Contáctanos</h1>
                    <h3>Nuestra Ubicación</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>Bijou Bijou</strong>
                                    <br /> 
                                    <address>Av. Arenales 450, Jesús María</address> 
                                </div>
                                <div class="col-sm-3">
                                    <strong>Teléfono</strong>
                                    <br> (51) 1 205 0000
                                    <br />
                                    <br /> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <h3>Formulario</h3>
                            <div class="required">
                                <label class="control-label" for="input-name">Tu nombre</label>
                                <input type="text" name="name" value="" id="input-name" class="form-control" /> </div>
                            <div class="required">
                                <label class="control-label" for="input-email">E-Mail</label>
                                <input type="text" name="email" value="" id="input-email" class="form-control" /> </div>
                            <div class="required">
                                <label class="control-label" for="input-enquiry">Consulta</label>
                                <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
                            </div>
                        </fieldset>
                        <div class="buttons">
                            <div class="pull-left">
                                <input class="btn btn-primary" type="submit" value="Enviar" /> 
                            </div>
                        </div>
                    </form>
                </div><!-- /#content -->
            </div><!-- /.row -->
        </div>
        
