/*================================================================================ */
/* 1. Basics & Buttons												3000Themes.com
/*================================================================================ */
.content{
	z-index: 10;
}	
/* Bigger then standard 960px (1280px) */
	@media only screen and (min-width: 1200px) {
		.header_category .box .box-content{position:absolute;}
	}
	@media only screen and (max-width: 1280px) {
		.product-thumb:hover .button-grid.button-group .btn-compare,
		.product-related  .relt_product:hover .button-group .btn-compare{right:0;}
		.product-thumb:hover .button-grid.button-group .btn-wishlist,
		.product-related  .relt_product:hover .button-group .btn-wishlist{right:40px;}
		.product-thumb:hover .button-grid.button-group .btn-cart,
		.product-related  .relt_product:hover .button-group .btn-cart{right:80px;}
		#back_top{display:none !important;}
	}
	@media only screen and (max-width: 1199px) {
		.popular-cate .box-content .carousel-content .cate-image img {width: 100%;}
	}
	/*ipad 2 ngang*/
	@media only screen and (min-width: 1024px) and (max-width: 1279px) {
		body{-webkit-text-size-adjust: none;}		
		#top #top-links.pull-right{width:80%;}
		header>.container>.row .col-sm-3{width:auto;}
		.header_category .box.opencate .box-content{height:auto;overflow:inherit;visibility:visible}
		#cart{margin-left: 15px;}
		.bt-block-call-us{width:16%;}
		#boss-search .choose-select #search .form-control{width:250px;}
		.header_category.menucategory-fixed.boss_scroll{width: 238px;}
		.menu.boss_scroll {margin-left: 238px;}
		.right-to-left .menu.boss_scroll {margin-left: 0; margin-right: 238px;}
		/*home page*/
		.bt-block-sale .block-item + .block-item {margin-left: 24px;}
		.bt-staticblock-title.bt-title-1 h1{margin-left:35px;margin-right:35px;}
		.bt-staticblock-title.bt-title-2 h1,.bt-staticblock-title.bt-title-2 h1 span{font-size:26px;line-height:28px;}
		.bt-staticblock-title.bt-title-2 h1 sup{font-size:24px; top:-10px;}
		.bt-staticblock-title.bt-title-2 {padding-left: 15px;}
		.bt-staticblock-title.bt-title-3 h1{margin-left:28px;margin-right:28px;font-size:26px;line-height:28px;}
		.bt-staticblock-title.bt-title-3{bottom:15px;}
		.product-thumb  .button-group .btn-quickshop,.product-related .relt_product .button-group .btn-quickshop{display:none !important;}
		.bt-staticblock-freeshipping .bt-staticblock {width:32.5%}
		.bt-footer-middle .boss-recent-post .item-recent-post .image span small {line-height:50px;}
		.product-layout .product-thumb .image img{width:100%;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail{padding-top:10px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content {margin-left: 25px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.odd {margin-right: 12px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.even {margin-left: 12px;}
		.bt-featured-pro.bt-nprolarge-slider .box-content .prev, .bt-featured-pro.bt-nprolarge-slider .box-content .next{top:120px;}
		.banner-home-left .text-info .large-text2{font-size:44px;line-height:46px;}
		.banner-home-left .text-info .bg-text{padding:5px 10px;}
		.banner-home-left .large-text{font-size:42px;line-height:44px;}
		.bt-banner-sale .bt-banner-title{top:15px;}
		.bt-banner-sale .bt-banner-title h1{font-size:42px;line-height:44px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .prev, .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .next{top:32%;}
		.bt-banner-home .bt-item-left .bt-banner-title {bottom: 15px;}
		.bt-banner-home .bt-item-right .bt-banner-title {bottom: 20px;}
		.bt-banner-home .bt-item-right .bt-banner-title h4:before, .bt-banner-home .bt-item-right .bt-banner-title h4:after{width:21%;}
		/*category*/
		.right-to-left .product-filter .display .btn-list {margin-right:0;margin-left: -4px;}
		.product-filter .box_limit select{width:70px;}
		.product-filter .box_sort select{width:120px;}
		.bt-block-category .block-title {right: 30px;top: 90px;}
		#content.col-sm-6 .bt-block-category .block-title h1 {font-size: 28px; line-height: 30px;}
		#content.col-sm-6 .bt-block-category .block-title h4 {font-size: 14px; line-height: 16px;margin-bottom:14px;}
		#content.col-sm-6 .bt-block-category .block-title a{padding:8px 20px;}
		.cart-info .table tbody tr td.remove .btn-update {margin-right:5px;}
		/*detail*/
		.product-info .button-group .btn-wishlist{width:45%}
		.product-info .button-group .btn-compare {width:53%}
		.product-related .relt_product .image img {width: 100%;}
		.checkout .panel .panel-body .left-content {margin-right: 30px;}
		.product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare{font-size:0;width:48%;}
		.cart-info .table tbody tr td.quantity input{margin:0;}
		.cart-info .table tbody tr td.quantity button{padding:0;}
	}
	@media only screen and (min-width: 1200px) and (max-width: 1279px) {
		/*home page*/
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {		
		
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {	
		body{-webkit-text-size-adjust: none; }
		.popular-cate .box-content .prev{left:1px}
		.popular-cate .box-content .next{right:1px}
		.button-group .btn-quickshop{display:none !important;}
		.button-group.button-grid .btn-cart {width: calc(100% - 80px);}
		.product-related .relt_product .image img{width:100%;}
	}
	@media only screen and (min-width: 768px) and (max-width: 1024px) {	
		.popular-cate .box-content .carousel-content .cate-image img{width:100%;}
		.product-filter .link-compare{width:24%;}
		#content.col-sm-6 .product-filter .link-compare{width:45%;padding-left:12px;}
		.right-to-left #content.col-sm-6 .product-filter .link-compare{padding-left:0;padding-right:12px;}
		.product-filter .display {width: 15.5%;}
		#content.col-sm-6 .product-filter .display {width: 24%;}
		#content.col-sm-6 .product-filter{height:auto;padding-left:0}
		.right-to-left #content.col-sm-6 .product-filter{padding-right:0}
		#content.col-sm-6 .product-filter .limit-sort{float:left;width:100%;border-top:1px solid #eaeaea; padding-left:12px;		text-align:left;height:42px;}
		.right-to-left #content.col-sm-6 .product-filter .limit-sort{text-align:right;padding-right:12px;padding-left:0}
		.product-filter .limit-sort {width:60%;}
		.product-filter .box_limit{margin-left:0;}
		.product-filter .box_sort{width:55%;}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) ipad doc */
	@media only screen and (min-width: 992px)and (max-device-width: 1199px) {
		.header_category .box .box-content{margin-bottom:30px;position:inherit;}
		.bt-other-page .header_category .box .box-content{position:absolute;}
		.header_category{width:24%;}
		.menu{width:76%;}
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {		
		#top #top-links.pull-right {width:70%;}
		#top #top-links .list-inline li:first-child{padding-left:0;}
		#top #top-links .list-inline .dropdown .dropdown-menu{left:0; right:auto;}
		#currency .btn-group, #language .btn-group {padding-bottom: 10px;}
		#top .list-inline > li.dropdown,#cart {padding-bottom: 12px;}
		.header_category .box-content .box-category.boss-menu-cate > li{padding:10px 14px;}
		.box .box-content .box-category.boss-menu-cate > li a.title i{margin-top:4px;}
		.header_category .box-content .box-category.boss-menu-cate > li .nav_submenu .nav_submenu_inner{max-width:524px;}
		.bt-block-call-us{width:20%;}
		#boss-search{width:100%; float:right; padding-top:10px; margin-bottom:20px;}
		#boss-search .choose-select{float: right;}
		.right-to-left #boss-search .choose-select{float: left;}
		.header_category .box-content .box-category.boss-menu-cate > li .nav_title img {margin-right: 10px;}
		.right-to-left .header_category .box-content .box-category.boss-menu-cate > li .nav_title img {margin-right: 0; margin-left:10px;}
		.header_category .box-content .box-category.boss-menu-cate > li > .nav_title a{text-transform: none}
		.header_category.menucategory-fixed.boss_scroll{width: 180px;}
		.menu.boss_scroll{margin-left: 180px;}
		.right-to-left .menu.boss_scroll{margin-left: 0; margin-right: 180px;}
		/*home page*/
		.bt-staticblock-freeshipping .bt-staticblock + .bt-staticblock{padding-left:15px;}
		.right-to-left  .bt-staticblock-freeshipping .bt-staticblock + .bt-staticblock{padding-left:0;padding-right:15px;}
		.bt-staticblock-freeshipping .bt-staticblock h3{font-size:13px;}
		.bt-block-sale .block-item + .block-item {margin-left: 18px;}
		.bt-staticblock-title.bt-title-1 {bottom: 10px;}
		.bt-staticblock-title.bt-title-1 h1 {font-size: 24px;line-height:26px;margin: 0 20px 5px;}
		.bt-staticblock-title.bt-title-1 h4 {font-size: 12px;line-height:14px;}
		.bt-staticblock-title.bt-title-2 {bottom: 12px;padding-left:15px;}
		.bt-staticblock-title.bt-title-2 h1,.bt-staticblock-title.bt-title-2 h1 span{font-size:20px;line-height:22px;}
		.bt-staticblock-title.bt-title-2 h1 sup{font-size:16px; top:-4px;}
		.bt-staticblock-title.bt-title-2 h3{font-size:14px;line-height:16px;}
		.bt-staticblock-title.bt-title-3 {bottom: 5px}
		.bt-staticblock-title.bt-title-3 h1 {font-size: 22px;line-height: 24px;margin: 6px 12px 6px;padding:4px 0;}
		.bt-featured-pro.bt-nprolarge-nslider .bt-product-content .bt-item-extra.element-4{padding: 0 10px;}
		.bt-featured-pro.bt-nprolarge-nslider .bt-product-content .bt-items.bt-product-grid {margin: 0 -10px;}
		.bt-block-theme-features .box-content { margin:0}
		.popular-cate .box-content .carousel-content>div .cate-name{font-size:36px; top:44%;}
		.popular-cate .box-content .carousel-content > div .count-product{font-size:18px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content {margin-left: 18px;}
		.boss-blog-featured .box-content .box-article .article_content .image {width:100%; margin-right:0; margin-bottom:5px;}
		.right-to-left .boss-blog-featured .box-content .box-article .article_content .image {margin-left:0;}
		.boss-blog-featured .box-content .box-article .article_content .image img{width:100%;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail{padding:15px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .article-name a{font-size:14px; line-height:18px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .time-stamp{font-size:11px; line-height:20px; margin-bottom:5px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .description p {line-height: 18px;}
		.bt-block-home-bg .title p {max-width:748px;}
		.boss-blog-featured .box-content .box-article .article_content .image span small {line-height:130px;}
		.product-thumb .button-grid.button-group .btn-cart{font-size:0;}
		.product-thumb .button-grid.button-group .btn-cart i{margin:0;}
		.bt-featured-pro.bt-nprolarge-slider .box-content .prev, .bt-featured-pro.bt-nprolarge-slider .box-content .next,
		.box-discount .box-content .carousel-button > a{top:80px;}
		.banner-home-left .text-info{bottom:10px;}
		.banner-home-left .text-info .large-text1{font-size:52px;}
		.banner-home-left .text-info .large-text2{font-size:34px;line-height:36px;}
		.banner-home-left:before, .banner-home-left:after{left:5px;top:5px;right:5px;bottom:5px;}
		.banner-home-left .text-info .bg-text{font-size:14px;margin:0 10px;padding:5px 10px;}
		.banner-home-left .large-text{font-size:32px;line-height:34px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.even{margin-left:10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.odd {margin-right: 10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large{padding-right:12px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid{padding-left:10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout .small_detail{min-height:150px;}
		.bt-banner-home .bt-item-left .bt-banner-title{bottom:10px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2{font-size:30px;line-height:32px;margin-bottom:2px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 span{font-size:34px;line-height:34px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup, .bt-banner-home .bt-item-left .bt-banner-title h2 sub{font-size:13px;line-height:15px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sub{margin-left:-18px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup {top: -12px;}
		.bt-banner-home .bt-item-right .bt-banner-title {bottom: 10px;}
		.bt-banner-home .bt-banner-title{width:65%;}
		.bt-banner-home .bt-item-right .bt-banner-title h1{font-size:24px;line-height:26px;margin-bottom:2px;}
		.bt-banner-home .bt-item-right .bt-banner-title h4{margin-bottom:5px;}
		.bt-banner-home .bt-item-right .bt-banner-title h2{font-size:14px;line-height:16px;}
		.bt-banner-home .bt-item-right .bt-banner-title h4:before, .bt-banner-home .bt-item-right .bt-banner-title h4:after{width:18%;}
		.bt-banner-home .bt-item-right .bt-banner-title h4:before{margin-left:25px;}
		.bt-banner-home .bt-item-right .bt-banner-title h4:after{margin-right:25px;}
		.bt-banner-sale .bt-banner-title{width:65%;top:15px;}
		.bt-banner-sale .bt-banner-title h3{font-size:13px;line-height:15px;margin-bottom:2px;}
		.bt-banner-sale .bt-banner-title h1{font-size:32px;line-height:34px;}
		.bt-banner-sale .bt-banner-title h2{font-size:40px;line-height:42px;}
		.bt-banner-sale .bt-banner-title h2 sup {font-size: 22px;left: -8px;line-height: 24px;top: -16px;}
		.bt-banner-sale .bt-banner-title h2 sub {font-size: 14px;line-height: 16px;margin-left: -34px;}
		.right-to-left .bt-banner-sale .bt-banner-title h2 sub {margin-left: 0;margin-right:-34px;}
		.bt-banner-sale .bt-banner-title h2:before, .bt-banner-sale .bt-banner-title h2:after{width:12%;}
		.boss_gallery .variable-sizes .ourbrand a{padding:0 10px;}
		#column-left .box-heading h1, #column-right .box-heading h1 {font-size:21px;}
		#column-left .bt-featured-pro.bt-nprolarge-slider .box-heading h1, #boss_homefilter_tabs1 .box-heading h1, #column-left .boss-testimonial .box-heading h1{font-size:14px;line-height:16px;}
		.bt-home-page  #column-left {padding-right: 10px;}
		.right-to-left.bt-home-page  #column-left {padding-right:0;padding-left: 10px;}
		.bt-home-page  #column-left + #content.col-sm-9 {padding-left: 10px;}
		.right-to-left.bt-home-page  #column-left + #content.col-sm-9 {padding-left:0;padding-right: 10px;}
		.bt-featured-pro.bt-nprolarge-slider .box-heading, #boss_homefilter_tabs1 .box-heading, .boss-testimonial .box-heading{
			padding:12px 10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .prev, .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .next{top:28%;}
		.bt-featured-pro.bt-nprolarge-tabs .bt-product-content .bt-items .image{margin-right:15px;}
		.bt-featured-pro #bt_procate_00{padding-right:10px;}
		.bt-featured-pro #bt_procate_01{padding: 0 10px;}
		.bt-featured-pro #bt_procate_02{padding-left:10px;}
		.box-special .box-content .carousel-button > a{top:95px;}
		.banner-home-left.bt-banner3 .sale-info .sale-number sub{font-size: 26px;line-height: 28px;margin-left: -55px;}
		.banner-home-left.bt-banner3 .sale-info .sale-number sup {font-size: 40px;line-height: 42px;margin-left: -16px;top: -28px;}
		.banner-home-left.bt-banner3 .sale-info .sale-text {font-size: 12px; line-height: 14px;}
		.banner-home-left.bt-banner3 .sale-info .sale-number {font-size:74px; line-height: 74px;}
		/*footer*/
		.bt-footer-middle .footer-social ul li {margin-right:3px;}
		.bt-footer-middle .boss-recent-post .item-recent-post .title {min-width: 45%;}
		.bt-footer-middle .footer-newsletter input.form-control {padding-left:18px;}
		.bt-footer-middle .boss-recent-post .item-recent-post .title a {line-height: 20px;}
		.bt-footer-middle .boss-recent-post .item-recent-post .image span small {line-height:50px;}
		/*category*/
		.bt-banner-left > a > span.image1 {top: 42%;}
		.bt-banner-left > a > span.image2 {top: 55%;}
		.bt-block-category .block-title{top:50px; right:10px;}
		#content.col-sm-6 .bt-block-category .block-title {top:35px; right:5px;}
		.bt-block-category .block-title h1{font-size:32px; line-height:34px;}
		#content.col-sm-6 .bt-block-category .block-title h1{font-size:22px; line-height:26px;}
		.bt-block-category .block-title h4{font-size:14px;line-height:16px;}
		#content.col-sm-6 .bt-block-category .block-title h4{font-size:12px;line-height:14px;margin-bottom:14px;}
		#content.col-sm-6 .bt-block-category .block-title a{padding:6px 16px; font-size:12px;}
		.product-filter .box_limit select{width:65px;}
		.product-filter .box_sort select,.another-language #content.col-sm-6 .product-filter .box_sort select{width:110px;}
		.product-layout .product-thumb .image img{width:100%;}
		/*detail*/
		.product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare{font-size:0;width:48%;}
		.product-related .relt_product .image img {width: 100%;}
		.product-info .quantily_info .title_text {width:15%}
		/*shopping cart*/
		.cart-info .table tbody tr td.remove .btn-update {margin-right:0; margin-bottom:5px;margin-left:0;}
		.checkout .panel .panel-body .left-content {margin-right: 30px;}
		#content.col-sm-9  #shipping-existing .form-control,#content.col-sm-9  #payment-existing .form-control {width:70%;}
		#content.col-sm-9 .checkout .panel .panel-body .left-content {margin-bottom: 35px;margin-right: 0;width: 100%;}
		#content.col-sm-9 .checkout .panel .panel-body .right-content{width:100%;}
		.cart-info .table tbody tr td.quantity input{margin:0;}
		.cart-info .table tbody tr td.quantity button{padding:0;}
		/*myaccount*/
		.register .form-control {width:50%;}
		.another-language  .product-layout .product-thumb  .button-group .btn-cart{font-size:0;}
		.another-language  .product-filter{height:auto;padding-right:0;}
		.another-language  .product-filter>*{height:42px;}
		.another-language .product-filter .link-compare {width: 30%;padding-right:12px;}
		.another-language .product-filter .limit-sort {width:100%;border-top:1px solid #eaeaea}
		.another-language  .product-filter .box_sort select{width: 140px;}
	}
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		.container {width: 748px;}
		.bt-staticblock-freeshipping, .header_slider{width:100%;padding-left:0;}
		.header_category{width:22%;}
		.menu{width:78%;}
		.header_category.menucategory-fixed.boss_scroll{width: 164px;}
		.menu.boss_scroll{margin-left:164px;}
		.right-to-left .menu.boss_scroll{margin-left: 0; margin-right: 164px;}
		.header_category .box.opencate .box-content{height:auto;overflow:inherit;visibility:visible;margin-bottom:30px;}
		.header_category .box .box-content {height: 0; overflow: hidden;top:50px;transition-duration: 0.3s;-webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;visibility: hidden;width: 100%;}
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.openNav #bt_container {overflow: visible;}
		/*header*/
		.boss_header.boss_scroll,.menu.boss_scroll{position:static}
		.boss_header + .container {margin-top: 0;}
		.bt-staticblock-freeshipping, .header_slider{width: 100%;}
		#top{background:none !important;border:none; position: absolute; right: 45px;top:44px;z-index: 21;padding:0;}
		.right-to-left #top{left:45px;right:auto}
		.right-to-left #top #top-links.pull-right{width:auto}
		.right-to-left header > div > div .col-sm-3 {width: 100%;}
		.right-to-left #top ul.list-inline {margin-left: 0;}
		.right-to-left #currency {margin-right: 0;}
		#bt_header{position:relative;}
		header{background:#efefef;padding:10px 10px 28px;}
		#logo{text-align:center; margin-left:0;width:100%;padding:0;float:none;margin-bottom:10px}
		#logo a,#top .pull-right ul.list-inline > li.dropdown>a{display:inline-block;}
		#logo img{margin:0 auto}
		#top #top-links .list-inline .dropdown a{display:block}
		#top .pull-right ul.list-inline > li,.bt-language, .bt-currency,#top #left_top_links,.bt-block-call-us{display:none;}
		#top .pull-right ul.list-inline > li.dropdown{padding:0 0 12px;margin-right:5px;display:block;}
		#cart{width:auto;float:none;position:absolute;right:10px;top:44px;margin-left:0;padding-top:0;}
		.right-to-left #cart{left:10px;right:auto;}
		#cart > .btn,#top .pull-right ul.list-inline > li.dropdown> a,#top .pull-right ul.list-inline > li.dropdown>a>i{font-size:0;}
		#cart > .btn,#top .pull-right ul.list-inline > li.dropdown>a{width:30px;height:30px; border:1px solid #dedede; text-align:center;}
		#cart > .btn{color:#434343; padding:0;}
		#cart > .btn,#cart.open > .btn,#cart > .btn:hover{background:transparent;}
		#cart > .btn .fa,#top .pull-right ul.list-inline > li.dropdown> a .fa{vertical-align:top; line-height:28px; margin:0}
		#cart .dropdown-menu{min-width:310px;}
		#top .pull-right ul.list-inline > li > a span .fa{display:block;}
		#currency .dropdown-menu, #language .dropdown-menu { left: 0;right: auto;}
		#top ul.list-inline {float:right;margin:0; text-align:right}
		.right-to-left #top .dropdown-menu{left:0;right:auto}
		#top #top-links.pull-right .pull-right {float: right !important;}
		.header_category,#boss-search .input_cat{display:none;}
		#boss-search .choose-select #search .form-control{width:100%;background:transparent;border:1px solid #dedede}
		#boss-search,#boss-search .choose-select > div{float:none;width:100%;}
		#boss-search{padding-top:0;}
		#search-form,#search{width:100%;}
		#search .input-group-btn{display:block;width:auto;}
		.bt-staticblock-freeshipping, .header_slider{padding-left:10px;padding-right:10px;}
		.header_category.menucategory-fixed{display:none !important;}
		.bt-mobile .bt-language,.bt-mobile .bt-currency{display:inline-block; float:none; width:48%; margin-bottom:20px; text-align:center;}
		.bt-mobile .bt-currency{margin-right:0; margin-left:0;}
		.bt-mobile  .language,.bt-mobile .currency {margin:0;}
		.bt-mobile  .language .btn-group >.btn,.bt-mobile .currency .btn-group> .btn{ background:#fff; font-size:14px; width:140px; height:30px; text-align:left; padding:0 10px;line-height:30px; float:none; border: none;}
		.bt-mobile .dropdown-menu{text-transform:uppercase}
		.bt-mobile  .language .btn i,.bt-mobile .currency .btn i{margin-left:calc(50%);}
		.right-to-left .bt-mobile  .language .btn i,.right-to-left .bt-mobile .currency .btn i{margin-left:0; margin-right:calc(50%);}
		.bt-mobile .logged-link{border-top:1px solid #444; position:relative; padding:40px 0; overflow:hidden;}
		.bt-mobile .logged-link:before{content:""; border-left:1px solid #444; width:1px; height:100%; left:50%; top:0;position:absolute;}
		.bt-mobile{display:block;background:#343434;height: auto;left: -90%;position: absolute;top: 0;width: 90%;margin-bottom:0;border:none;float:right;padding:50px 0 80px;text-align:center;min-height:800px;}
		.bt-mobile .logged-link >a{color:#fffefe;text-transform:capitalize;display:block;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;float:left;width:50%;}
		.bt-mobile .logged-link >a i{display:block;width:40px;height:40px;background:#fff;border-radius:50%;text-align:center;
		vertical-align:top;line-height:40px;color:#3d3b48;margin-bottom:12px;font-size:16px;margin-left:auto;margin-right:auto;
		transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}
		.bt-mobile .logged-link >a:hover,.bt-mobile .logged-link >a:hover i {color:#e97575;}
		/*homepage*/
		.boss_header{display:none;}
		.bt-block-sale .block-item{width:100%;}
		.bt-block-sale .block-item +.block-item{margin-top:30px;margin-left:0;}
		#content.col-sm-12 {padding: 0 10px;}
		.bt-block-theme-features .box-content .item-theme-features{ width:25%;}
		.bt-block-theme-features .box-content { margin:0}
		.bt-block-home-bg .title p{padding:0 10px;line-height:20px;}
		.bt-block-home-bg {padding:62px 0}
		.bt-block-sale .block-item img{width:100%;}
		.boss-blog-featured .box-content .box-article .article_content{width:100%;}
		.boss-blog-featured {padding:0 10px 40px;}
		.boss-blog-featured .box-content .box-article .article_content .image  img{width:100%}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .article-name a{font-size:14px; line-height:20px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail .description p {line-height: 18px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 .caption{min-height:118px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content{margin-left:0;}
		.bt-staticblock-freeshipping .bt-staticblock{width:100%;}
		.bt-staticblock-freeshipping .bt-staticblock + .bt-staticblock {margin-top:20px; padding:0; border:none;}
		.bt-block-sale{padding-left:10px;padding-right:10px;}
		.box-discount .box-content .carousel-button > a{opacity:1; visibility:visible;}
		.box-discount .box-content .carousel-button .prev,.box-discount:hover  .box-content .carousel-button .prev{left:20px}
		.box-discount .box-content .carousel-button .next,.box-discount:hover .box-content .carousel-button .next{right:20px;}
		.bt-featured-pro .boss-category-pro{width:100%;}
		.bt-featured-pro .boss-category-pro + .boss-category-pro{margin-top:40px;}
		.bt-featured-pro .boss-category-pro .bt-item-extra.product-layout{padding:0;}
		.bt-featured-pro #bt_procate_00,.bt-featured-pro #bt_procate_01,.bt-featured-pro #bt_procate_02{padding:0;}
		/*footer*/
		.bt-footer-top .bt-featured-pro  .boss-category-pro {width:100%;}
		.bt-footer-top .bt-featured-pro  .boss-category-pro +.boss-category-pro{margin-top:60px;}
		.bt-footer-top .bt-featured-pro h3{margin-bottom:20px;}
		.bt-footer-top .bt-featured-pro #bt_procate_00,
		.bt-footer-top .bt-featured-pro #bt_procate_02{padding-left: 10px; padding-right: 10px;}
		.bt-footer-middle .bt-block-footer { padding: 0 10px; margin-bottom:30px;}
		.bt-footer-middle .boss-recent-post{margin-bottom:30px;}
		.bt-footer-middle .footer-social {width:100%;}
		footer .bt-footer-bottom{padding-left:10px; padding-right:10px;}
		.bt-footer-bottom .payment{float:none; text-align:left; margin-top:0;}
		.right-to-left .bt-footer-bottom .payment{text-align:right;}
		.bt-footer-bottom .powered {margin-bottom:10px; float:none;}
		.bt-footer-bottom .payment ul li:first-child {margin-left:0}
		.right-to-left .bt-footer-middle .bt-block-footer + div + div, .bt-footer-middle .footer-social {padding-right: 10px;}
		.bt-footer-middle .box.boss-recent-post {margin-bottom: 30px;}
		/*category*/
		.bt-breadcrumb{padding:0 10px;}
		#column-left + #content.col-sm-9,.right-to-left .bt-home-page #column-left + #content.col-sm-9 {padding-right: 10px;}
		.right-to-left  #column-left + #content.col-sm-9,.bt-home-page #column-left + #content.col-sm-9 {padding-left: 10px;}
		.product-filter .link-compare {width:100%}
		.product-grid .product-thumb .image img{width:100%}
		.result-pagination{margin-top:10px;}
		.product-info .col-sm-6 + .col-sm-6 {padding-left: 10px;}
		/*cart*/
		.cart-info,.checkout .table-responsive{border:none;}
		.cart-module .form-control,#content.col-sm-9 .cart-module .form-control {width:100%}
		.cart-total + .buttons  .pull-right{float:left; margin-top:20px;width:100%; text-align:left;}
		.right-to-left .cart-total + .buttons  .pull-right{text-align:right;}
		.right-to-left .cart-total + .buttons .btn.btn-blue {margin-right:0;}
		.cart-total table {float: left;}
		.right-to-left .cart-total table {float: right;}
		.checkout .panel .panel-body .left-content {margin-right: 0; width: 100%;margin-bottom:35px;}
		#payment-new .form-control, #shipping-new .form-control,
		#shipping-existing .form-control, #payment-existing .form-control,
		#content.col-sm-9 #payment-new .form-control,#content.col-sm-9  #shipping-new .form-control{width: 100%;}
		.right-to-left .product-info > div > div:first-child {float: none;}
		.cart-info .table, .wishlist-info .table{border:0 none;}
		.cart-info .table thead tr, .wishlist-info .table thead tr{left: -9999px;position: absolute;top: -9999px;}
		.cart-info .table td.image,.wishlist-info .table td.image{float:left;width:45%; margin-bottom:15px;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{float:left;width:55%;padding-left:0;}
		.cart-info .table tbody tr td.name small{display:none;}
		.cart-info .table, .wishlist-info .table,.cart-info .table thead, .wishlist-info .table thead,.cart-info .table tbody, .wishlist-info .table tbody,.cart-info .table tr, .wishlist-info .table tr,.cart-info .table td, .wishlist-info .table td{display:block}
		.cart-info .table tbody  tr,.wishlist-info .table tbody tr{border:1px solid #eaeaea;padding-bottom:17px;}
		.cart-info .table tbody  tr +tr,.wishlist-info .table tbody tr +tr{border-top:none;}
		.cart-info .table tbody  tr  td,.wishlist-info .table tbody tr  td{border: medium none;float: none;position: relative;white-space: normal;width: auto;padding-bottom:0;text-align:left;padding-left:10px;padding-right:10px;}
		.cart-info .table tbody tr td.quantity .input-group{margin:0;}
		.bt-breadcrumb +.row .alert {margin-left:10px; margin-right:10px;}
		/*myaccount*/
		.content-login .left{margin-right:0; margin-bottom:40px;}
		.content-login .right{margin-left:0}
		.register .form-control {width:100%;}
		#content.col-sm-6 {float: none;}
		.bt-video .video-js .vjs-tech{height:100%;}
		.cart-module .panel + .panel{padding-left:0;}
		.cart-total +.buttons{margin-top:20px;}
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {		
		body{-webkit-text-size-adjust: none; }
		#currency, #language{margin-right:15px;}
		.right-to-left #currency,.right-to-left #language{margin-right:0;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 {float:none; display:inline-block; margin:0; width:47.5%; vertical-align:top;margin-bottom:20px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 .image img{width:100%;}
		.bt-featured-pro.bt-nprolarge-nslider .bt-product-content .bt-item-extra.element-4{padding:0 10px;}
		.bt-featured-pro.bt-nprolarge-nslider .bt-product-content .bt-items.bt-product-grid{margin:0 -10px;}
		.product-layout.product-grid {width:50%;}
		.bt-block-category .block-title {right:45px;top:72px;}
		.bt-block-category .block-title h1 {font-size:34px; line-height:36px;}
		.bt-block-category .block-title h4{font-size:14px;}
		.bt-block-category .block-title a{padding:8px 20px;}
		.content-search .box-search .form-control,.content-search .box-search-cate .form-control {width:70%;}
		.boss-blog-featured .box-content .box-article .article_content .image span small {line-height:210px;}
		.bt-footer-middle .boss-recent-post .item-recent-post .image span small {line-height:54px}
		.bt-block-sale{text-align:center;}
		.bt-block-sale .block-item{margin:0 auto;max-width:500px;float:none;}
		.bt-block-sale .block-item +.block-item{margin-left:auto;}
		.bt-staticblock-title.bt-title-1 h1{margin:0 140px 5px;}
		.bt-staticblock-title.bt-title-3{bottom:65px;}
		.bt-staticblock-title.bt-title-3 h1{margin-left:115px;margin-right:115px;}
		#content {min-height: 750px;}
		.cart-info .table td.image,.wishlist-info .table td.image{width:25%;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{width:75%;}
		.boss-blog-featured .box-content .box-article .article_content {float: none;margin-left: auto;margin-right: auto;max-width: 460px;}
		.boss-blog-featured .box-content .box-article .article_content + .article_content{margin:0 auto 25px;}
		.boss-blog-featured .box-content .box-article .article_content .image a:hover:before {box-shadow: 0 0 0 165px rgba(233, 117, 117, 0.7) inset;}
		.box-discount .box-content .carousel-button > a{top:90px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large{padding-right:10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid{padding-left:10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .prev, .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .next{top:29%;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.even{margin-left:12px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.odd{margin-right:12px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout{width:45%;}
		.bt-banner-home .bt-item-left .bt-banner-title {bottom:15px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2{font-size:34px;line-height:36px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup{top:-16px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup, .bt-banner-home .bt-item-left .bt-banner-title h2 sub{font-size:14px;line-height:16px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 span{font-size:42px;line-height:44px;}
		.bt-banner-home .bt-item-right .bt-banner-title {bottom:30px;}
		.bt-banner-home .bt-item-right .bt-banner-title h1{font-size:26px;line-height:28px;}
		.bt-banner-sale .bt-banner-title{top:18px;}
		.bt-banner-sale .bt-banner-title h1{font-size:34px;line-height:36px;}
		.bt-banner-sale .bt-banner-title h2{font-size:40px;line-height:42px;}
		.bt-banner-sale .bt-banner-title h2 sup {font-size: 26px;left: -8px;line-height: 28px;top: -14px;}
		.bt-banner-sale .bt-banner-title h2 sub {font-size: 16px;line-height: 18px;margin-left: -38px;}
		.bt-banner-sale .bt-banner-title h3{font-size:15px;line-height:17px;}
		.bt-banner-sale .bt-banner-title h2:before, .bt-banner-sale .bt-banner-title h2:after{width:12%;}
		.boss_gallery .variable-sizes .ourbrand a{padding:0 10px;}
		.bt-block-theme-features .box-content .item-theme-features{width:50%;margin-bottom:30px;}
	}
	@media only screen and (min-width: 631px) and (max-width: 680px) {
		.bt-banner-home .bt-banner-title{width:65%;}
		.bt-banner-home .bt-item-left .bt-banner-title {bottom:10px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2{font-size:32px;line-height:34px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup{top:-14px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup, .bt-banner-home .bt-item-left .bt-banner-title h2 sub{font-size:12px;line-height:14px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 span{font-size:40px;line-height:42px;}
		.bt-banner-home .bt-item-right .bt-banner-title {bottom: 20px;}
		.bt-banner-home .bt-item-right .bt-banner-title h1{font-size:24px;line-height:26px;}
		.bt-banner-home .bt-item-right .bt-banner-title h2{font-size:15px;line-height:17px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout .small_detail{min-height:132px;}
	}
	@media only screen and (min-width: 550px) and (max-width: 610px){
		.box-discount .box-content .carousel-button > a{top:80px;}
		.bt-banner-sale .bt-banner-title {top: 16px;}
		.bt-banner-sale .bt-banner-title h1{font-size:30px;line-height:32px;}
		.bt-banner-sale .bt-banner-title h2{font-size:36px;line-height:38px;}
		.bt-banner-sale .bt-banner-title h2 sup {font-size: 22px;left: -6px;line-height: 24px;top: -12px;}
		.bt-banner-sale .bt-banner-title h2 sub {font-size: 14px;line-height: 16px;margin-left: -30px;}
		.bt-banner-sale .bt-banner-title h3{font-size:13px;line-height:15px;margin-bottom:2px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout .small_detail{min-height:132px;}
	}
	@media only screen and (min-width: 515px) and (max-width: 549px){
		.bt-block-category .block-title h1 {font-size:30px; line-height:32px;}
		h1.block-title + .table td .btn-gray + .btn-blue{margin-top:10px;}
		.bt-featured-pro .bt-product-content .bt-item-extra.element-4 {width:47%;}
		.bt-banner-sale .bt-banner-title {top: 12px;}
		.bt-banner-sale .bt-banner-title h1{font-size:28px;line-height:30px;}
		.bt-banner-sale .bt-banner-title h2{font-size:36px;line-height:38px;}
		.bt-banner-sale .bt-banner-title h2 sup {font-size: 22px;left: -6px;line-height: 24px;top: -12px;}
		.bt-banner-sale .bt-banner-title h2 sub {font-size: 14px;line-height: 16px;margin-left: -30px;}
		.bt-banner-sale .bt-banner-title h3{font-size:13px;line-height:15px;margin-bottom:2px;}
		.bt-banner-sale .bt-banner-title h2::before, .bt-banner-sale .bt-banner-title h2::after{width:12%;}
		
	}
	@media only screen and (min-width: 480px) and (max-width: 514px){
		.bt-block-category .block-title h1 {font-size:30px; line-height:32px;}
		.bt-block-category .block-title {right: 14px; top: 50px;}
		h1.block-title + .table + .buttons .btn-gray + .btn-blue {margin-top:10px;}
		.bt-staticblock-title.bt-title-1 h1 {margin: 0 120px 5px;}
		.bt-staticblock-title.bt-title-3 h1 {margin-left: 100px;margin-right: 100px;}
		.box-discount .box-content .carousel-button > a{top:95px;}
		.bt-banner-sale .bt-banner-title {top: 10px;}
		.bt-banner-sale .bt-banner-title h1{font-size:26px;line-height:28px;}
		.bt-banner-sale .bt-banner-title h2{font-size:36px;line-height:38px;}
		.bt-banner-sale .bt-banner-title h2 sup {font-size: 22px;left: -6px;line-height: 24px;top: -12px;}
		.bt-banner-sale .bt-banner-title h2 sub {font-size: 14px;line-height: 16px;margin-left: -30px;}
		.bt-banner-sale .bt-banner-title h3{font-size:12px;line-height:14px;margin-bottom:2px;}
		.bt-banner-sale .bt-banner-title h2::before, .bt-banner-sale .bt-banner-title h2::after{width:12%;}
		
	}
	@media only screen and (max-width: 630px) {
		.cart-info .table td.image,.wishlist-info .table td.image{width:35%;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{width:65%;}
		.bt-banner-home .bt-banner-item,.bt-banner-home .bt-banner-item img{width:100%;}
		.bt-banner-home .bt-item-left{margin-bottom:30px;}
		.bt-banner-home .bt-item-left .bt-banner-title{bottom:52px;}
		.bt-staticblock-shipping .bt-staticblock{width:100%; padding:45px 30px;display:block; max-width:500px; margin:0 auto;}
		.bt-staticblock-shipping .bt-staticblock +.bt-staticblock {padding-top:0;}
	}
	@media only screen and (max-width: 560px) {
		.bt-featured-pro.bt-prolarge-nslider .box-content > div{float:none;width:100%;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large{padding:0; margin-bottom:40px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid{padding:0;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.odd{margin-right:11px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.even{margin-left:11px;}
		.bt-banner-home .bt-item-left .bt-banner-title{bottom:25px;}
		.bt-featured-pro.bt-nprolarge-nslider .bt-product-content .bt-item-extra.element-4{width:50%; margin-bottom: 30px;}
		.bt-banner-sale{margin-top:10px;}
		.bt-banner-home .bt-item-right .bt-banner-title h4:before, .bt-banner-home .bt-item-right .bt-banner-title h4:after{width:20%}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
		body{-webkit-text-size-adjust: none;}
		#currency{margin-right:30px;}
		.bt-featured-pro .box-heading h1{font-size:28px;}
		.bt-block-theme-features {text-align:center;}
		.bt-block-theme-features .box-content .item-theme-features{float:none;width:100%;margin-bottom:30px;padding:0 25px; max-width:400px; margin-left:auto; margin-right:auto;}
		.bt-block-theme-features .box-content .item-theme-features a img{width:100%;}
		.bt-block-theme-features .box-content .item-theme-features a.image:hover:before {box-shadow: 0 0 0 125px rgba(0, 0, 0, 0.3) inset;}
		.bt-block-category .block-title,#content.col-sm-6 .bt-block-category .block-title{right: 12px; top: 36px;}
		.bt-block-category .block-title h1,#content.col-sm-6 .bt-block-category .block-title h1{font-size:20px; line-height:22px;}
		.bt-block-category .block-title h4{font-size:12px;line-height:14px; margin-bottom:10px}
		.bt-block-category .block-title a{padding:5px 14px;font-size:10px;}
		.result-pagination .results{float:none;width:100%;margin-bottom:15px;text-align:center;}
		.result-pagination .links { overflow: visible;}
		.content-search .box-search .form-control,.content-search .box-search-cate .form-control {width:100%;}
		.boss-blog-featured .box-content .box-article .article_content .image{width:100%;margin-right:0;}
		.right-to-left .boss-blog-featured .box-content .box-article .article_content .image{margin-left:0;}
		.boss-blog-featured .box-content .box-article .article_content{margin-bottom:30px;}
		.boss-blog-featured .box-content .box-article .article_content .article-detail{padding-left:15px;padding-bottom:20px;}
		.right-to-left .boss-blog-featured .box-content .box-article .article_content .article-detail{padding-right:15px;}
		.category-list ul{width:40%}
		.category-list ul +ul +ul{margin-top:20px;}
		.product-info .button-group .btn-wishlist, .product-info .button-group .btn-compare {width: 100%;}
		.product-info .button-group .btn-wishlist{margin-bottom:15px;}
		.product-related .carousel-button {top:35px;}
		.product-related h1 {margin-bottom: 50px;}
		h1.block-title + .table td .btn-gray + .btn-blue {margin-top:10px;}
		.product-info .quantily_info .title_text {width:15%;}
		.review-product .form-horizontal .form-group .control-label {width:34.5%}
		.product-thumb .button-group .btn-cart i{margin-right:10px;}
		.cart-total table tr td{padding-right:40px;}
		.cart-total table tr td.left{padding-left:40px;}
		.cart-info .table td.image,.wishlist-info .table td.image{width:40%;}
		.cart-info .table tbody tr td.name, .wishlist-info .table tbody tr td.name{width:60%;}
		.bt-block-purchase h1{font-size:26px;}
		.bt-staticblock-title.bt-title-3 h1{margin-left:50px;margin-right:50px;}
		.bt-staticblock-title.bt-title-3{bottom:20px;}
		.box-discount .box-content .carousel-button > a{top:75px;}
		.bt-banner-home .bt-item-left .bt-banner-title{bottom:13px;}
		.bt-banner-home .bt-item-right .bt-banner-title {bottom: 22px;}
		.bt-banner-sale .bt-banner-title{display:none;}
		.boss-blog-featured .box-content .box-article .article_content .image a:hover:before{box-shadow: 0 0 0 170px rgba(233, 117, 117, 0.7) inset;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .prev, .bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-large .next{top:34%;}
		.boss_gallery .variable-sizes > div.ourbrand{width:50%;margin-bottom:-1px;}
		.boss_gallery .variable-sizes > div.ourbrand a{padding:0 5px;}
	}
	@media only screen and (min-width: 451px) and (max-width: 479px){
		.popular-cate .box-content .carousel-content > div .cate-name{font-size:34px;line-height:36px; top:45%;}
		.box-discount .box-content .carousel-button > a{top:90px;}
	}
	@media only screen and (min-width: 421px)and (max-width: 450px){
		.popular-cate .box-content .carousel-content > div .cate-name{font-size:32px;line-height:34px; top:44%;}
	}
	@media only screen and (min-width:401px) and (max-width: 420px){
		.popular-cate .box-content .carousel-content > div .cate-name{font-size:30px;line-height:32px; top:42%;}
	}
	@media only screen and (min-width: 371px) and (max-width: 400px){
		.popular-cate .box-content .carousel-content > div .cate-name{font-size:28px;line-height:30px; top:43%;}
		#logo img{width:85%;}
	}
	@media only screen and (max-width: 370px){
		#logo img{width:75%;}
		#top,#cart{top:38px;}
	}
	@media only screen and (max-width: 350px){
		.bt-featured-pro .box-heading h1 {font-size: 26px;}
		.product-layout{padding:0 10px;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout{padding:0;}
		.bt-block-category .block-title, #content.col-sm-6 .bt-block-category .block-title{top:20px;}
		.bt-block-category .block-title a{padding:2px 14px;}
		.bt-staticblock-title.bt-title-3 h1 {margin-left: 32px;margin-right: 32px;}
		.bt-staticblock-shipping .bt-staticblock{padding:40px 15px;}
		.bt-banner-home .bt-item-left .bt-banner-title{bottom:15px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2{font-size:30px; line-height:32px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 span{font-size:40px; line-height:42px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup, .bt-banner-home .bt-item-left .bt-banner-title h2 sub{font-size:12px; line-height:14px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sup{top:-15px;}
		.bt-banner-home .bt-item-left .bt-banner-title h2 sub{bottom:0;}
	}
	@media only screen and (max-width: 339px){
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.odd{margin-right:0;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout.even{margin-left:0;}
		.bt-featured-pro.bt-prolarge-nslider .box-content .bt-product-grid .product-layout{width:100%;}
	}
	

