﻿@{
    ViewBag.Title = "Bijou Bijou - Productos";
    Layout = "~/Areas/TIENDA/Views/Shared/_LayoutTienda.cshtml";
}

<div class="container">
            <div class="row">
                <column id="column-left" class="col-sm-3 hidden-xs">
                </column><!-- /#column-left -->
                <div id="content" class="col-sm-9">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="bt-product-zoom">
                                    <div class="bosszoomtoolbox boss-additional">
                                        <div itemprop="image" class="image">
                                            <a href="~/Content/images/product/p21-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom" id='zoom1' rel=""><img src="~/Content/images/product/p21-550x626.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" id="image" />
                                            </a>
                                        </div>
                                        <div class="image-additional">
                                            <ul class="thumbnails" id="boss-image-additional">
                                                <li class="image-additional">
                                                    <a href="~/Content/images/product/p21-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product/p21-550x626.jpg' "><img src="~/Content/images/product/p21-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="~/Content/images/product/p18-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product/p18-550x626.jpg' "><img src="~/Content/images/product/p18-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="~/Content/images/product/p1-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product/p1-550x626.jpg' "><img src="~/Content/images/product/p1-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="~/Content/images/product/p16-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product/p16-550x626.jpg' "><img src="~/Content/images/product/p16-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="~/Content/images/product/p11-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product/p11-550x626.jpg' "><img src="~/Content/images/product/p11-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                                <li class="image-additional">
                                                    <a href="~/Content/images/product/p10-600x683.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'images/product/p10-550x626.jpg' "><img src="~/Content/images/product/p10-101x115.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" />
                                                    </a>
                                                </li>
                                            </ul> <a id="prev_image_additional" class="prev nav_thumb" href="javascript:void(0)" style="display:block;" title="prev"><i data-original-title="Previous" class="fa fa-angle-left btooltip">&nbsp;</i></a> <a id="next_image_additional" class="next nav_thumb" href="javascript:void(0)" style="display:block;" title="next"><i data-original-title="Next" class="fa fa-angle-right btooltip">&nbsp;</i></a> 
                                        </div><!-- /.image-additional -->
                                    </div><!-- /.bosszoomtoolbox --> 
                                </div><!-- /.bt-product-zoom -->
                            </div>
                            <div class="col-sm-6">
                                <h2>Cashmere cuff vintage Levi maxi</h2>
                                <div class="review">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> </div>
                                    <div class="review_text"> <a href="#" onclick="$('a[href=\'#tab_review\']').trigger('click'); goToByScroll('review'); return false;">2 reviews</a> <a href="" onclick="$('a[href=\'#tab_review\']').trigger('click'); goToByScroll('bt_review'); return false;"> Write a review</a> </div>
                                </div><!-- /.review -->
                                <div class="description">
                                    <h3>INFO</h3>
                                    <ul class="list-unstyled">
                                        <li>- Marca: <a href="#">Bijou Bijou</a>
                                        </li>
                                        <li>- Código de Producto: Producto</li>
                                        <li>- Disponibilidad:<b class="stock"> En Stock</b>
                                        </li>
                                    </ul>
                                </div><!-- /.description -->
                                <div class="price_info"> 
                                    <span class="price">$122.00</span>
                                    <br> <span class="price-tax">Ex Tax: $100.00</span>
                                    <br> 
                                </div><!-- /.price_info -->
                                <div id="product" class="options">
                                    <h3>Available Options</h3>
                                    <div class="form-group required">
                                        <label class="control-label">Color</label>
                                        <div id="input-option229">
                                            <div class="radio bt-image-option">
                                                <label>
                                                    <input type="radio" name="option[229]" value="26" /> <img src="~/Content/images/colors/pink-50x50.png" alt="Pink +$36.00" /> Pink (+$36.00) </label>
                                            </div>
                                            <div class="radio bt-image-option">
                                                <label>
                                                    <input type="radio" name="option[229]" value="25" /> <img src="~/Content/images/colors/black-50x50.png" alt="Black +$120.00" /> Black (+$120.00) </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart">
                                        <div class="quantily_info">
                                            <div class="title_text"><span>Ctd.</span>
                                            </div>
                                            <div class="select_number">
                                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                                <button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-angle-up"></i>
                                                </button>
                                                <button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-angle-down"></i>
                                                </button>
                                            </div>
                                            <input type="hidden" name="product_id" size="2" value="32" /> </div>
                                        <div class="button-group">
                                            <button type="button" id="button-cart" data-loading-text="Cargando..." class="btn-cart"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                                            <button class="btn-wishlist" type="button" title="Añadir a la lista de deseos"><i class="fa fa-heart"></i> Añadir a la lista de deseos</button>
                                        </div>
                                    </div>
                                </div><!-- /.options -->
                            </div>
                        </div>
                    </div><!-- /.product-info -->
                </div><!-- /#content -->
                <div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
            </div><!-- /.row -->
        </div>

